<template>
    <div :id="videoId"></div>
</template>
<script>
import Player from 'xgplayer';
const videoId = 'video' + new Date().getTime();
export default {
    name: '',
    data() {
        return {
            videoPlayer: null,
            videoId: videoId
        };
    },
    props: {
        videoUrl: {
            type: String,
            require: true
        }
    },
    computed: {},
    mounted() {
        this.initPlayer(this.videoUrl);
        this.videoPlayer.on('play', () => {
            console.log(444);
            this.$emit('hideVideoInfo');
        });
        this.videoPlayer.on('pause', () => {
            this.$emit('hideVideoInfo');
        });
        this.videoPlayer.on('ended', () => {
            this.$emit('showVideoInfo');
        });
    },
    created() {},
    methods: {
        // 初始化视频数据
        initPlayer(url) {
            this.videoPlayer = new Player({
                el: document.querySelector('#' + this.videoId),
                url: url,
                width: '100%',
                volume: 1, // 初始音量
                autoplay: false, // 自动播放
                playbackRate: [0.5, 0.75, 1, 1.5, 2], // 当前播放速度
                defaultPlaybackRate: 1, // 播放速度设置为1
                download: true, //设置download控件显示
                // fitVideoSize: 'auto',
                videoInit: true, //初始化显示视频首帧
                // cssFullscreen: true,//样式全屏功能不会隐藏当前浏览器的标签栏，导航栏，只是在当前页面内部全屏显示。
                // playsinline: true
                ignores: ['replay', 'definition'] //关闭内置控件
            });
        },
        //删除视频
        delectVideo() {}
    },
    components: { Player }
};
</script>
<style lang="scss" scoped="scoped">
.gallery-video {
    width: 100%;
    .video-wrap {
        position: relative;
        width: 100%;
        color: #fff;
        .icons {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            font-size: 16px;
            background: rgba(0, 0, 0, 0.4);
            padding: 10px 6px;
            border-radius: 5px;
            z-index: 120;
            color: #fff;
            i {
                margin: 0 8px;
            }
        }
        .set-public-status {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 40px;
            background: rgba(0, 0, 0, 0.6);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
</style>
