<template>
    <div class="main-bg">
        <div class="wrap " v-if="showCurrentRouter">
            <div class="title boldTitle">角色列表</div>
            <div class="flex flex-wrap">
                <NewBuild :styleObject="newBuildStyle" @newBuild="addNewActivity"></NewBuild>
                <div class="border-1 radius-5 role-item" v-for="item in 6">
                    <div>
                        <i class="el-icon-user primary-color margin-r-10"></i>
                        <span>摄影师</span>
                    </div>
                    <div class="des">主要负责在活动中的拍照和照片上传工作</div>
                    <el-button type="primary" @click="viewInfo" class="view-btn">查看</el-button>
                </div>
            </div>
        </div>
        <router-view />
    </div>
</template>
<script>
import NewBuild from '@/common/NewBuild';
export default {
    name: 'rolesList',
    data() {
        return {
            newBuildStyle: {
                margin: '0 20px 20px 0'
            }
        };
    },
    computed: {
        showCurrentRouter() {
            const route = this.$route;
            return route.path == '/system/rolesList';
        }
    },
    mounted() {},
    created() {},
    methods: {
        addNewActivity() {
            this.$router.push('/system/newRole');
        },
        // 查看信息
        viewInfo() {}
    },
    components: { NewBuild }
};
</script>
<style lang="scss" scoped="scoped">
.role-item {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 0 20px 20px 0;
    .des {
        flex-grow: 9;
        margin-top: 20px;
        margin-bottom: 10px;
        overflow-y: auto;
        line-height: 20px;
    }
    .view-btn {
        width: 80px;
        align-self: flex-end;
    }
}
</style>
