<template>
    <div class="wrap"><RoleInfo></RoleInfo></div>
</template>
<script>
import RoleInfo from '../components/RoleInfo.vue';
export default {
    name: '',
    data() {
        return {};
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {},
    components: { RoleInfo }
};
</script>
<style lang="scss" scoped="scoped"></style>
