<template>
    <div class="wrap"><RoleInfo :disabled="disabled" :userInfo="userInfo"></RoleInfo></div>
</template>
<script>
import RoleInfo from '../components/RoleInfo.vue';
export default {
    name: '',
    data() {
        return {
            disabled: true,
            userInfo: {}
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {},
    components: { RoleInfo }
};
</script>
<style lang="scss" scoped="scoped"></style>
