<template>
    <el-tabs v-model="currentTabName" @tab-click="handleClick">
        <el-tab-pane label="广告管理" name="management"></el-tab-pane>
        <el-tab-pane label="广告位" name="position"></el-tab-pane>
    </el-tabs>
</template>
<script>
export default {
    name: 'advertisement',
    data() {
        return {
            currentTabName: ''
        };
    },
    props: {
        activeName: {
            type: String,
            default: 'management'
        }
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        handleClick(tab, event) {
            this.currentTabName = tab.name;
            this.$router.push(`/advertisement/${this.currentTabName}`);
        }
    },
    components: {},
    watch: {
        activeName: {
            handler(newVal, oldVal) {
                this.currentTabName = newVal;
            },
            immediate: true
        }
    }
};
</script>
<style lang="scss" scoped="scoped"></style>
