<template>
    <div class="new-activity">
        <TopBtns></TopBtns>
        <!-- 表单部分 -->
        <div class="from-wrap padding-20">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="">
                <!-- 广告位和终端 -->
                <el-row type="flex" justify="space-between">
                    <el-col :span="11">
                        <el-form-item label="类别" prop="adPosi">
                            <el-select v-model="ruleForm.adPosi" disabled><el-option label="大屏" value="bigScreen"></el-option></el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="终端" prop="machine">
                            <el-select v-model="ruleForm.machine" disabled><el-option label="自助机" value="machine"></el-option></el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- 广告位和广告主 -->
                <el-row type="flex" justify="space-between">
                    <el-col :span="11">
                        <el-form-item label="宽度" prop="width" required><el-input v-model="ruleForm.width" placeholder="请输入宽度"></el-input></el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="高度" prop="height" required><el-input v-model="ruleForm.height" placeholder="请输入高度"></el-input></el-form-item>
                    </el-col>
                </el-row>
                <!-- 展示方式 -->
                <el-form-item label="展示方式" prop="displayWay" required>
                      <el-radio v-model="ruleForm.displayWay" label="1">可以发布多条广告并随机展示</el-radio>
                      <el-radio v-model="ruleForm.displayWay" label="2">只允许发布并展示一条广告</el-radio>
                </el-form-item>
                <!-- 是否启用 -->
                <el-form-item label="是否启用" prop="isUse" required>
                      <el-radio v-model="ruleForm.isUse" label="1">启用</el-radio>
                      <el-radio v-model="ruleForm.isUse" label="2">不启用</el-radio>
                </el-form-item>
                <div class="title boldTitle">默认图片</div>
                <!-- 活动封面 -->
                <el-form-item label="活动封面">
                    <div class="images-wrap flex flex-v-end">
                        <UploadImage class="margin-t-30 margin-r-20"></UploadImage>
                        <div class="image-tip">支持jpg,gif，小于2M</div>
                    </div>
                </el-form-item>
            </el-form>
        </div>
    </div>
</template>
<script>
import TopBtns from '@/common/TopBtns/index.vue';
import UploadImage from '@/components/UploadImage/index.vue';
export default {
    name: 'newActivity',
    data() {
        return {
            checked: false,
            ruleForm: {
                adPosi:'',
                machine:'',
                width: '',
                height:'',
                displayWay:'1',
                isUse:'1'
            },
            rules: {
                adName: [{ required: true, message: '请输入广告名称', trigger: 'blur' }],
                adPosi: [{ required: true, message: '选择广告位', trigger: 'blur' }],
                adDate: [{ type: 'date', required: true, message: '广告时间', trigger: 'blur' }]
            }
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        submitData() {}
    },
    components: {
        TopBtns,
        UploadImage
    }
};
</script>
<style lang="scss" scoped="scoped"></style>
