<template>
    <div class="advertisement main-bg">
        <div v-if="showCurrentRouter">
            <AdTab :activeName="activeName"></AdTab>
            <div class="flex padding-20 flex-v-center border-1-bottom">
                <el-input placeholder="请输入微信昵称/客户名称" prefix-icon="el-icon-search" v-model="searchVal" style="width: 420px;" class=""></el-input>
            </div>
            <!-- 表格部分 -->
            <div>
                <el-table :data="tableData" style="width: 100%">
                    <el-table-column prop="adName" label="名称"></el-table-column>
                    <el-table-column prop="equip" label="终端"></el-table-column>
                    <el-table-column prop="displayMode" label="展示方式"></el-table-column>
                    <el-table-column prop="width" label="宽度"></el-table-column>
                    <el-table-column prop="height" label="高度"></el-table-column>
                    <el-table-column prop="status" label="是否启用"></el-table-column>
                    <el-table-column prop="displayAmount" label="正在展示"></el-table-column>
                    <el-table-column prop="handle" label="操作">
                        <template slot-scope="scope">
                            <div class="margin-r-20 primary-color">编辑</div>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
         </div>
        <router-view />
    </div>
</template>
<script>
import AdTab from '../components/AdTab.vue';
export default {
    name: 'advertisement',
    data() {
        return {
            activeName: 'position',
            searchVal:'',
            tableData: [
                {
                    adName: '整屏广告',
                    equip: '自助机',
                    displayMode: '多广告展示',
                    width: '166',
                    height: '122',
                    status: '是',
                    displayAmount:2,
                    handle: ''
                }
            ]
        };
    },
    computed: {
        showCurrentRouter() {
            return this.$route.path == '/advertisement/position';
        }
    },
    mounted() {},
    created() {},
    methods: {},
    components: { AdTab }
};
</script>
<style lang="scss" scoped="scoped"></style>
