<template>
    <div class="market-activity">
        <!-- 市场活动列表 -->
        <div class="activity-wrap main-bg" v-if="showCurrentRouter">
            <div class="title boldTitle">市场活动列表</div>
            <div class="activity-list-wrap">
                <div class="tabList">
                    <el-tabs v-model="activeName" @tab-click="handleClick">
                        <el-tab-pane :label="item.name" :name="item.name" v-for="(item, index) in tabList" :key="item.name"></el-tab-pane>
                    </el-tabs>
                    <el-input class="search-input" v-model="searchVal" placeholder="请输入活动名称" size="medium" clearable prefix-icon="el-icon-search"></el-input>
                </div>
                <div class="activity-contents">
                    <!-- 新建 -->
                    <NewBuild :styleObject="newBuildStyle" @newBuild="addNewActivity"></NewBuild>

                    <div class="image-item" v-for="(item, index) in imageList" :key="index" @click="viewDetail">
                        <!-- :preview-src-list="previewList" -->
                        <el-image :src="item.path" fit="cover" class="el-image" @error="loadError(index)">
                            <div slot="error" class="image-slot"><i class="el-icon-picture-outline"></i></div>
                        </el-image>
                        <div class="image-join-num flex flex-center" v-if="!item.loadErr">1145人参与</div>
                        <div class="activity-info ">
                            <div>
                                <div class="name">滨河九粮液回厂游</div>
                                <div class="time">2020.8.9</div>
                            </div>
                            <div class="status"><el-tag type="info">未开始</el-tag></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="activity-wrap main-bg"><router-view /></div>
    </div>
</template>
<script>
import NewBuild from '@/common/NewBuild';
import {Storage} from '@/utils/index';
export default {
    name: 'market-activity',
    data() {
        return {
            newBuildStyle: {
                margin: '0 30px 20px 0'
            },
            searchVal: '',
            activeName: '全部',
            tabList: [
                {
                    name: '全部'
                },
                {
                    name: '未开始'
                },
                {
                    name: '进行中'
                },
                {
                    name: '已结束'
                }
            ],
            imageList: [
                {
                    path: '',
                    loadErr: false
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    loadErr: false
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    loadErr: false
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    loadErr: false
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    loadErr: false
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    loadErr: false
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    loadErr: false
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    loadErr: false
                }
            ]
        };
    },
    computed: {
        showCurrentRouter() {
            const route = this.$route;
            return route.path == '/marketActivity/list';
        },
        previewList() {
            let list = [];
            this.imageList.forEach(item => {
                list.push(item.path);
            });
            return list;
        }
    },
    mounted() {},
    created() {},
    methods: {
        tabChange(index) {},
        handleClick(tab, event) {
            this.activeName = tab.name;
        },
        addNewActivity() {
            this.$router.push('/marketActivity/new');
        },
        // 查看详情
        viewDetail() {
            Storage.setStorage('tabName','BaseInfo')
            this.$router.push({
                path: '/marketActivity/detail'
            });
        },
        loadError(errIndex) {
            this.imageList.forEach((item, index) => {
                if (errIndex == index) {
                    item.loadErr = true;
                }
            });
        }
    },
    components: { NewBuild }
};
</script>
<style lang="scss" scoped="scoped">
@import '@/styles/element-variables.scss';
$imageWidth: 200px;
.market-activity {
    .activity-wrap {
        .activity-list-wrap {
            display: flex;
            flex-direction: column;
            padding: 30px 0 0;
            .tabList {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .search-input {
                    width: 300px;
                }
            }
        }
        .activity-contents {
            padding: 40px 0 0;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            .image-item {
                position: relative;
                margin-right: 30px;
                margin-bottom: 30px;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                .el-image {
                    width: $imageWidth;
                    height: $imageWidth;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 40px;
                    background-color: #f6f8fc;
                    border-radius: 5px;
                }
                .image-join-num {
                    position: absolute;
                    width: 100%;
                    top: calc(#{$imageWidth} - 40px);
                    height: 100px;
                    z-index: 10;
                    height: 40px;
                    color: #fff;
                    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
                }
                .activity-info {
                    padding-top: 20px;
                    font-size: 16px;
                    line-height: 24px;
                    display: flex;
                    max-width: $imageWidth;
                    flex-wrap: wrap;
                    flex-direction: column;
                    .time {
                        color: #abb3b8;
                    }
                    .status {
                        align-self: flex-end;
                        margin-top: -20px;
                    }
                }
            }
        }
    }
}
</style>
