<template>
    <div class="activity-detail">
        <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="基本信息" name="BaseInfo"></el-tab-pane>
            <el-tab-pane label="活动流程" name="Process"></el-tab-pane>
            <el-tab-pane label="图库" name="Gallery"></el-tab-pane>
            <el-tab-pane label="互动" name="Interaction"></el-tab-pane>
            <el-tab-pane label="签到表" name="SignIn"></el-tab-pane>
            <el-tab-pane label="更多设置" name="MoreSetting"></el-tab-pane>
        </el-tabs>
        <div class="tab-contents"><component :is="activeName" /></div>
    </div>
</template>
<script>
import BaseInfo from './components/BaseInfo.vue';
import Process from './components/Process.vue';
import Gallery from './components/Gallery.vue';
import Interaction from './components/Interaction.vue';
import SignIn from './components/SignIn.vue';
import MoreSetting from './components/MoreSetting.vue';
import {Storage} from '@/utils/index';
export default {
    name: 'AtivityDetail',
    data() {
        return {
            activeName: 'BaseInfo'
        };
    },
    computed: {
        
    },
    mounted() {},
    created() {
        this.activeName = Storage.getStorage('tabName')||'BaseInfo';
    },
    methods: {
        handleClick(tab, event) {
            this.activeName = tab.name;
            Storage.setStorage('tabName',tab.name)
        }
    },
    components: {
        BaseInfo,
        Process,
        Gallery,
        Interaction,
        SignIn,
        MoreSetting
    }
};
</script>
<style lang="scss" scoped="scoped"></style>
