<template>
    <div class="new-activity">
        <TopBtns></TopBtns>
        <!-- 表单部分 -->
        <div class="from-wrap padding-20">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <!-- 活动名称 -->
                <el-form-item label="名称" prop="name" required>
                    <el-row type="flex" justify="space-between">
                        <el-col :span="20"><el-input v-model="ruleForm.name" placeholder="请输入活动名称"></el-input></el-col>
                        <el-checkbox v-model="checked">对外发布</el-checkbox>
                    </el-row>
                </el-form-item>
                <!-- 活动时间 -->
                <el-row type="flex" justify="space-between">
                    <el-col :span="11">
                        <el-form-item label="活动时间起" required>
                            <el-form-item prop="startDate">
                                <el-date-picker type="date" placeholder="请选择起始时间" v-model="ruleForm.startDate" style="width: 100%;"></el-date-picker>
                            </el-form-item>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="活动时间止" required>
                            <el-form-item prop="endDate">
                                <el-date-picker type="date" placeholder="请选择结束时间" v-model="ruleForm.endDate" style="width: 100%;"></el-date-picker>
                            </el-form-item>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- 活动地点 -->
                <el-form-item label="活动地点" prop="name">
                    <el-row>
                        <el-col :span="24"><el-input v-model="ruleForm.address" placeholder="请输入活动地址"></el-input></el-col>
                    </el-row>
                </el-form-item>
                <!-- 活动预算 -->
                <el-row type="flex" justify="space-between">
                    <el-col :span="11">
                        <el-form-item label="活动预算(元)"><el-input v-model="ruleForm.address" placeholder="请输入"></el-input></el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="实际支出(元)"><el-input v-model="ruleForm.address" placeholder="请输入"></el-input></el-form-item>
                    </el-col>
                </el-row>
                <!-- 活动简介 -->
                <el-form-item label="活动简介"><el-input type="textarea" v-model="ruleForm.desc" placeholder="可输入备注说明"></el-input></el-form-item>
                <!-- 活动封面 -->
                <el-form-item label="活动封面">
                    <div class="images-wrap flex flex-v-end">
                        <UploadImage class="margin-t-30 margin-r-20"></UploadImage>
                        <div class="image-tip">支持jpg，小于2M</div>
                    </div>
                </el-form-item>
                <!-- 启动海报 -->
                <el-form-item label="启动海报">
                    <div class="images-wrap flex flex-v-end">
                        <UploadImage class="margin-t-30 margin-r-20"></UploadImage>
                        <div class="image-tip">支持jpg、gif，小于5M</div>
                    </div>
                </el-form-item>
                <!-- 跳转链接 -->
                <el-form-item label="点击跳转">
                    <el-col :span="11"><el-input v-model="ruleForm.address"></el-input></el-col>
                </el-form-item>
                <!-- 轮播图 -->
                <el-form-item label="Banner"></el-form-item>

                <template v-for="(item, index) in 5">
                    <el-form-item label="轮播1">
                        <div class="images-wrap flex flex-v-end">
                            <UploadImage class="margin-t-30 margin-r-20"></UploadImage>
                            <div class="image-tip">支持jpg、gif，小于5M</div>
                        </div>
                    </el-form-item>
                    <el-form-item label="点击跳转">
                        <el-col :span="11"><el-input v-model="ruleForm.address"></el-input></el-col>
                    </el-form-item>
                </template>
            </el-form>
        </div>
    </div>
</template>
<script>
import TopBtns from '@/common/TopBtns/index.vue';
import UploadImage from '@/components/UploadImage/index.vue';
export default {
    name: 'newActivity',
    data() {
        return {
            checked: false,
            ruleForm: {
                name: '',
                startDate: '',
                endDate: '',
                address: '',
                desc: ''
            },
            rules: {
                name: [{ required: true, message: '请输入活动名称', trigger: 'blur' }, { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }],
                startDate: [{ type: 'date', required: true, message: '请选择日期', trigger: 'change' }],
                endDate: [{ type: 'date', required: true, message: '请选择日期', trigger: 'change' }],
                address: [{ required: true, message: '请输入活动地址', trigger: 'blur' }]
            }
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        submitData() {}
    },
    components: {
        TopBtns,
        UploadImage
    }
};
</script>
<style lang="scss" scoped="scoped"></style>
