<template>
    <div class="">
        <div v-if="showCurrentRouter" class="flex main-bg">
            <div class="flex flex-column margin-r-30 flex-v-center">
                <!-- 客户头像 -->
                <el-image :src="customerInfo.avatar" fit="cover" class="avatar">
                    <div slot="error" class="image-slot"><i class="el-icon-picture-outline"></i></div>
                </el-image>
                <!-- 修改客户名称 -->
                <div class="customer-name-input">
                    <div>
                        <el-input v-model="customerInfo.customerName" maxlength="10" @change="inputChange" :style="{ width: inputWidh }"></el-input>
                        <i class="el-icon-edit primary-color "></i>
                    </div>
                    <span ref="hideInput" class="hide-input">{{ customerInfo.customerName }}</span>
                </div>
                <span>{{ customerInfo.phone }}</span>
                <!-- 参与信息 -->
                <div class="flex flex-column border-1 radius-5 padding-10 margin-t-20 box">
                    <span>参与活动：3</span>
                    <span>助力参与：3</span>
                    <span>福利领取：3</span>
                </div>
            </div>
            <!-- 基本资料 -->
            <div class="flex-grow-9">
                <div class="title boldTitle">基本资料</div>
                <div class="infos flex">
                    <div class="item">
                        <div>微信昵称</div>
                        <div>陌陌卡</div>
                    </div>
                    <div class="item">
                        <div>性别</div>
                        <div>女</div>
                    </div>
                    <div class="item">
                        <div>所在地区</div>
                        <div>湖北武汉</div>
                    </div>
                    <div class="item">
                        <div>关注日期</div>
                        <div>2019/7/22</div>
                    </div>
                    <div class="item">
                        <div>open id</div>
                        <div>o2CK9wgbpeT5MkbWuqvx68Dh3jm8</div>
                    </div>
                </div>
                <!-- 照片列表 -->
                <div>
                    <div class="flex flex-h-between flex-v-center margin-t-20 bold">
                        <div>TA的照片</div>
                        <el-button @click="viewMore">查看更多>></el-button>
                    </div>
                    <!-- 列表 -->
                    <div class="margin-t-20 margin-l-20 flex flex-wrap">
                        <div class="customer-image-box border-1 radius-5 margin-lr-10 margin-b-10" v-for="item in 12">
                            <el-image :src="customerInfo.avatar" fit="cover" class="customer-image">
                                <div slot="error" class="image-slot"><i class="el-icon-picture-outline"></i></div>
                            </el-image>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <router-view />
    </div>
</template>
<script>
export default {
    name: '',
    data() {
        return {
            inputWidh: '100px',
            customerInfo: {
                avatar: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                customerName: 'Luojing',
                phone: '15618875265'
            }
        };
    },
    computed: {
        showCurrentRouter() {
            const route = this.$route;
            return route.path == '/customerManage/detail';
        }
    },
    mounted() {
        setTimeout(() => {
            this.inputChange();
        }, 100);
    },
    created() {},
    methods: {
        inputChange(val) {
            if (this.$refs.hideInput) {
                let inputWidth = this.$refs.hideInput.offsetWidth;
                if (inputWidth > 130) {
                    inputWidth = 130;
                }
                if (inputWidth <= 28) {
                    inputWidth = 28;
                }
                this.inputWidh = inputWidth + 14 + 'px';
            }
        },
        viewMore() {
            this.$router.push('/customerManage/pictures');
        }
    },
    components: {}
};
</script>
<style lang="scss">
$customerBoxWidth: 150px;
.avatar {
    width: 186px;
    height: 186px;
    border-radius: 5px;
}
.customer-name-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 36px;
    overflow: hidden;
    span {
        height: 0;
        max-width: 186px;
    }

    .el-input__inner {
        border-radius: 0;
        border: none;
        padding: 0;
        text-align: center;
    }
}

.infos {
    flex-wrap: wrap;
    .item {
        width: 50%;
        display: flex;
        padding-bottom: 16px;
        div:first-child {
            width: 80px;
            text-align: right;
            margin-right: 20px;
            flex-shrink: 0;
        }
    }
}
.box {
    width: 100%;
    box-sizing: border-box;
    span {
        padding: 6px 0;
    }
}
.customer-image-box {
    width: $customerBoxWidth;
    height: $customerBoxWidth;
    padding: 8px;
}
.customer-image {
    width: 100%;
    height: 100%;
}
</style>
