<template>
    <div class="wrap  ">
        <div v-if="showCurrentRouter" class="main-bg">
            <el-input placeholder="请输入微信昵称/客户名称" prefix-icon="el-icon-search" v-model="searchVal" style="width: 420px;" class="margin-b-20"></el-input>
            <div class="tab-wrap border-1-top">
                <el-table :data="tableData" style="width: 100%">
                    
                    <el-table-column prop="avatar" label="头像">
                        <template slot-scope="scope">
                            <el-image :src="scope.row.avatar" fit="cover" class="avatar" >
                                <div slot="error" class="image-slot"><i class="el-icon-picture-outline"></i></div>
                            </el-image>
                        </template>
                    </el-table-column>
                    
                    <el-table-column prop="nickName" label="微信昵称">
                        <template slot-scope="scope">
                            <div class="primary-color" @click="viewDetail">{{scope.row.nickName}}</div>
                        </template>
                    </el-table-column>

                    <el-table-column prop="customerName" label="客户名称"></el-table-column>
                    <el-table-column prop="sex" label="性别">
                        <template slot-scope="scope">
                            <div >{{scope.row.sex==='1'?'男':'女'}}</div>
                        </template>
                    </el-table-column>
                    <el-table-column prop="phone" label="手机"></el-table-column>
                    <el-table-column prop="province" label="所属省"></el-table-column>
                    <el-table-column prop="city" label="所属市"></el-table-column>
                    <el-table-column prop="area" label="所属区"></el-table-column>
                    <el-table-column prop="registerDate" label="注册日期"></el-table-column>
                </el-table>
            </div>
            <!-- 分页 -->
            <div class="pagination">
                <el-pagination layout="prev, pager, next" :page-size="10" :total="1000" @current-change="handleCurrentChange"></el-pagination>
            </div>
        </div>

        <router-view />
    </div>
</template>
<script>
export default {
    name: '',
    data() {
        return {
            searchVal: '',
            tableData: [{
                avatar:'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                nickName:'陌陌卡',
                customerName:'罗晶',
                // 1男  2女
                sex:2,
                phone:'18998909558',
                province:'湖北省',
                city:'武汉市',
                area:'',
                registerDate:'2019/7/22'
            }]
        };
    },
    computed: {
        showCurrentRouter() {
            const route = this.$route;
            return route.path == '/customerManage/summary';
        }
    },
    mounted() {},
    created() {},
    methods: {
        viewDetail(){
            this.$router.push('/customerManage/detail');
        },
        handleCurrentChange(){
            
        }
    },
    components: {}
};
</script>
<style lang="scss" scoped="scoped">
.tab-wrap {
    .avatar{
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }
}
</style>
