<template>
    <div class=" main-bg wrap">
        <div class="flex flex-wrap">
            <div class="customer-image-box border-1 radius-5 margin-r-10 margin-b-10" v-for="item in picturesList">
                <el-image :src="item.url" fit="cover" class="customer-image">
                    <div slot="error" class="image-slot"><i class="el-icon-picture-outline"></i></div>
                </el-image>
            </div>
        </div>
        <!-- 分页 -->
        <div class="pagination"><el-pagination layout="prev, pager, next" :page-size="10" :total="1000" @current-change="handleCurrentChange"></el-pagination></div>
    </div>
</template>
<script>
export default {
    name: '',
    data() {
        return {
            picturesList: [
                {
                    url: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
                },
                {
                    url: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
                },
                {
                    url: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
                },
                {
                    url: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
                },
                {
                    url: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
                },
                {
                    url: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
                },
                {
                    url: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
                },
                {
                    url: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
                },
                {
                    url: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
                },
                {
                    url: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
                },
                {
                    url: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
                }
            ]
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        handleCurrentChange() {}
    },
    components: {}
};
</script>
<style lang="scss" scoped="scoped">
$customerBoxWidth: 150px;
.customer-image-box {
    width: $customerBoxWidth;
    height: $customerBoxWidth;
    padding: 8px;
}
.customer-image {
    width: 100%;
    height: 100%;
}
.wrap {
    padding: 10px 0 10px 10px;
}

</style>
