<template>
    <div class="activity-tabs">
        <div class="item" :class="tabIndex == index ? 'active' : ''" v-for="(item, index) in tabList" :key="index" @click="selectTab(index)">{{ item.name }}</div>
    </div>
</template>
<script>
export default {
    name: 'ActivityTabs',
    data() {
        return {
            tabIndex: 0
        };
    },
    props: {
        tabList: {
            type: Array,
            require: true
        }
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        selectTab(index) {
            this.tabIndex = index;
            this.$emit('selectTab', index);
        }
    },
    components: {}
};
</script>
<style lang="scss" scoped="scoped">
@import '@/styles/element-variables.scss';
.activity-tabs {
    display: flex;
    border-bottom: 1px solid #dfe4ed;
    .item {
        padding: 10px 40px;
    }
    .active {
        background: $--color-primary;
        color: #fff;
    }
}
</style>
