<template>
    <div class="wrap main-bg">模板管理（待定）</div>
</template>
<script>
export default {
    name: 'template',
    data() {
        return {};
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {},
    components: {}
};
</script>
<style lang="scss" scoped="scoped"></style>
