<template>
    <div class="icon-name">
        <div class="icon" :class="icon" v-if="sidebar.opened"></div>
        <div>{{title}}</div>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex';
export default {
    name: '',
    data() {
        return {};
    },
    props:{
        icon:{
            type:String,
            default:''
        },
        title:{
            type:String,
            default:''
        },
        isNest:{
            type: Boolean,
            default: false
        }
    },
    computed: {
        ...mapGetters(['sidebar']),
    },
    mounted() {},
    created() {},
    methods: {},
    components: {}
};
</script>
<style lang="scss" >
    .icon-name{
        display: flex;
        align-items: center;
        .icon{
            width: 18px;
            height: 18px;
            margin-right: 10px;
        }
        .home{
            background: url(../../../assets/slide/home.png);
        }
        .market{
            background: url(../../../assets/slide/market.png);
        }
        .pictures{
            background: url(../../../assets/slide/pictures.png);
        }
        .sales{
            background: url(../../../assets/slide/sales.png);
        }
        .customer{
            background: url(../../../assets/slide/customer.png);
        }
        .system{
            background: url(../../../assets/slide/system.png);
        }
        .advertise{
            background: url(../../../assets/slide/advertise.png);
        }
        .print{
            background: url(../../../assets/slide/print.png);
        }
    }
    .router-link-active{
        .home{
            background: url(../../../assets/slide/home-active.png);
        }
        .market{
            background: url(../../../assets/slide/market-active.png);
        }
        .pictures{
            background: url(../../../assets/slide/pictures-active.png);
        }
        .sales{
            background: url(../../../assets/slide/sales-active.png);
        }
        .customer{
            background: url(../../../assets/slide/customer-active.png);
        }
        .system{
            background: url(../../../assets/slide/system-active.png);
        }
        .advertise{
            background: url(../../../assets/slide/advertise-active.png);
        }
        .print{
            background: url(../../../assets/slide/print-active.png);
        }
    }
</style>
