<template>
    <!-- 隐藏一些不显示的路由 比如404页面 login页面 -->
    <div v-if="!item.hidden" @click.stop="menuClick(item)">
        <!--  是否只有一个路由或者一个子路由-->
        <template v-if="hasOneShowingChild(item.children, item) && (!onlyOneChild.children || onlyOneChild.noShowingChildren) && !item.alwaysShow">
            <app-link v-if="onlyOneChild.meta" :to="resolvePath(onlyOneChild.path)">
                <el-menu-item :index="resolvePath(onlyOneChild.path)" :class="{ 'submenu-title-noDropdown': !isNest }">
                    <IconName :icon="onlyOneChild.meta.icon || (item.meta && item.meta.icon)" :title="onlyOneChild.meta.title"  ></IconName>
                </el-menu-item>
            </app-link>
        </template>

        <el-submenu v-else ref="subMenu" :index="resolvePath(item.path)" popper-append-to-body>
            <template slot="title">
                <IconName v-if="item.meta" :icon="item.meta && item.meta.icon" :title="item.meta.title" ></IconName>
            </template>
            <sidebar-item v-for="child in item.children" :key="child.path" :is-nest="true" :item="child" :base-path="resolvePath(child.path)" class="nest-menu" />
        </el-submenu>
    </div>
</template>

<script>
import path from 'path';
import { isExternal } from '@/utils/validate';
import AppLink from './Link';
import FixiOSBug from './FixiOSBug';
import IconName from './IconName.vue'      
import { mapState } from 'vuex';
export default {
    name: 'SidebarItem',
    components: { AppLink,IconName },
    mixins: [FixiOSBug],
    props: {
        // route object
        item: {
            type: Object,
            required: true
        },
        isNest: {
            type: Boolean,
            default: false
        },
        basePath: {
            type: String,
            default: ''
        }
    },
    data() {
        this.onlyOneChild = null;
        return {};
    },
    methods: {
        hasOneShowingChild(children = [], parent) {
            const showingChildren = children.filter(item => {
                if (item.hidden) {
                    return false;
                } else {
                    this.onlyOneChild = item;
                    return true;
                }
            });
            // When there is only one child router, the child router is displayed by default
            // &&showingChildren[0].path==='dashboard'
            if (showingChildren.length === 1 && showingChildren[0].path === 'dashboard') {
                return true;
            }

            // Show parent if there are no child router to display
            if (showingChildren.length === 0) {
                this.onlyOneChild = { ...parent, path: '', noShowingChildren: true };
                return true;
            }

            return false;
        },
        resolvePath(routePath) {
            if (isExternal(routePath)) {
                return routePath;
            }
            if (isExternal(this.basePath)) {
                return this.basePath;
            }
            return path.resolve(this.basePath, routePath);
        },
        // 增加
        menuClick(item) {
            if (item.children) {
                this.$router.push(item.path);
            }
        }
    }
};
</script>

<style scoped lang="scss">
.el-menu-item {
    display: flex;
    align-items: center;
}

.el-menu-item{
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
}

.router-link-active {
    .is-active{
        width: 100%;
        background-image: linear-gradient(90deg, #06b588 0%, #81e591 100%), linear-gradient(#1975ff, #1975ff);
        border-radius: 6px;
        height: 40px;
        line-height: 40px;
        margin: 10px 0;
        color: #fff;
        box-sizing: border-box;
    }
    

}

</style>
