<template>
    <div class="advertisement main-bg">
        <div v-if="showCurrentRouter">
            <AdTab :activeName="activeName"></AdTab>
            <div class="flex flex-h-between padding-20 flex-v-center border-1-bottom">
                <el-input placeholder="请输入微信昵称/客户名称" prefix-icon="el-icon-search" v-model="searchVal" style="width: 420px;" class=""></el-input>
                <el-button class="margin-lr-10 " type="primary" @click="newAccount">+新建</el-button>
            </div>
            <!-- 表格部分 -->
            <div>
                <el-table :data="tableData" style="width: 100%">
                    <el-table-column prop="adName" label="广告名称"></el-table-column>
                    <el-table-column prop="advertiser" label="广告主"></el-table-column>
                    <el-table-column prop="adPosi" label="所属广告位"></el-table-column>
                    <el-table-column prop="adCategory" label="类别"></el-table-column>
                    <el-table-column prop="startTime" label="开始日期"></el-table-column>
                    <el-table-column prop="endTime" label="结束日期"></el-table-column>
                    <el-table-column prop="handle" label="操作">
                        <template slot-scope="scope">
                            <div class="margin-r-20 primary-color">编辑</div>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>
        <router-view />
    </div>
</template>
<script>
import AdTab from '../components/AdTab.vue';
export default {
    name: 'advertisement',
    data() {
        return {
            activeName: 'management',
            searchVal:'',
            tableData: [
                {
                    adName: 'banner1',
                    advertiser: '途牛旅游',
                    adPosi: '整屏广告',
                    adCategory: '图片',
                    startTime: '2019/7/23 13:09',
                    endTime: '2019/7/23 13:09',
                    handle: ''
                }
            ]
        };
    },
    computed: {
        showCurrentRouter() {
            return this.$route.path == '/advertisement/management';
        }
    },
    mounted() {},
    created() {},
    methods: {
        newAccount(){
            
        }
    },
    components: { AdTab }
};
</script>
<style lang="scss" scoped="scoped"></style>
