<template>
    <div class="new-activity">
        <TopBtns></TopBtns>
        <!-- 表单部分 -->
        <div class="from-wrap padding-20">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="">
                <!-- 广告名称和类别 -->
                <el-row type="flex" justify="space-between">
                    <el-col :span="11">
                        <el-form-item label="广告名称" prop="adName" required><el-input v-model="ruleForm.adName" placeholder="请输入广告名称"></el-input></el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="类别" prop="adCategory">
                            <el-select v-model="ruleForm.adCategory" disabled>
                                <el-option label="图片" value="image"></el-option>
                                <el-option label="视频" value="video"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- 广告位和广告主 -->
                <el-row type="flex" justify="space-between">
                    <el-col :span="11">
                        <el-form-item label="广告位" prop="adPosi" required>
                            <el-select v-model="ruleForm.adPosi" placeholder="选择广告位">
                                <el-option label="整屏广告" value="full"></el-option>
                                <el-option label="顶部广告" value="top"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="广告主" prop="advertiser"><el-input v-model="ruleForm.advertiser" placeholder="可输入广告主"></el-input></el-form-item>
                    </el-col>
                </el-row>
                <!-- 广告时间 -->
                <el-row type="flex">
                    <el-col :span="11">
                        <el-form-item label="广告时间" required>
                            <el-date-picker
                                v-model="ruleForm.adDate"
                                type="daterange"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"
                            ></el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!--投放范围 -->
                <el-row>
                    <el-col :span="11">
                        <el-form-item label="投放范围" prop="equips">
                            <el-select v-model="ruleForm.equips" placeholder="请选择设备">
                                <el-option label="1号机" value="eq1"></el-option>
                                <el-option label="2号机" value="eq2"></el-option>
                                <el-option label="3号机" value="eq3"></el-option>
                                <el-option label="4号机" value="eq4"></el-option>
                                <el-option label="5号机" value="eq5"></el-option>
                            </el-select>
                            <div class="tip-color">如果不选择，则全部投放</div>
                        </el-form-item>
                    </el-col>
                </el-row>
                <div class="title boldTitle">基本信息</div>
                <!-- 活动封面 -->
                <el-form-item label="活动封面">
                    <div class="images-wrap flex flex-v-end">
                        <UploadImage class="margin-t-30 margin-r-20"></UploadImage>
                        <div class="image-tip">支持jpg,gif，小于2M</div>
                    </div>
                </el-form-item>
            </el-form>
        </div>
    </div>
</template>
<script>
import TopBtns from '@/common/TopBtns/index.vue';
import UploadImage from '@/components/UploadImage/index.vue';
export default {
    name: 'newActivity',
    data() {
        return {
            checked: false,
            ruleForm: {
                adName: '',
                adCategory: 'image',
                advertiser:'',
                adPosi: '',
                adDate: '',
                equips: '',
            },
            rules: {
                adName: [{ required: true, message: '请输入广告名称', trigger: 'blur' }],
                adPosi: [{ required: true, message: '选择广告位', trigger: 'blur' }],
                adDate: [{ type: 'date', required: true, message: '广告时间', trigger: 'blur' }],
            }
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        submitData() {}
    },
    components: {
        TopBtns,
        UploadImage
    }
};
</script>
<style lang="scss" scoped="scoped"></style>
