<template>
    <div class="gallery-image">
        <div class="el-image-wrap">
            <el-image src="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg" fit="cover" class="el-image">
                <div slot="error" class="image-slot"><i class="el-icon-picture-outline"></i></div>
            </el-image>
            <!-- 删除和下载 -->
            <div class="icons">
                <i class="el-icon-delete " v-if="showDelect"></i>
                <i class="el-icon-download" @click="downLoad"></i>
            </div>
            <!-- 是否设置为不公开 -->
            <div class="set-public-status" @click="setPublicStatus">设置为不公开</div>
        </div>
        <!-- 图片信息 -->
        <div class="flex flex-column margin-t-10">
            <div class="flex">
                <div class="margin-r-10">by 范彬彬</div>
                <div>2020.8.16 09.23</div>
            </div>
            <div class="flex flex-h-between margin-t-10">
                <div>
                    <i class="el-icon-view"></i>
                    132
                </div>
                <div>132</div>
                <div>
                    <i class="el-icon-download"></i>
                    76
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'GalleryImage',
    data() {
        return {};
    },
    props: {
        picInfo: {
            type: Object,
            require: true
        },
        showSetPublic: {
            type: Boolean,
            default: false
        },
        showDelect: {
            type: Boolean,
            default: false
        }
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        downLoad(){
            this.downloadIamge('https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg','pic')
        },
        downloadIamge(imgsrc, name) {
            //下载图片地址和图片名
            var image = new Image();
            // 解决跨域 Canvas 污染问题
            image.setAttribute('crossOrigin', 'anonymous');
            image.onload = function() {
                var canvas = document.createElement('canvas');
                canvas.width = image.width;
                canvas.height = image.height;
                var context = canvas.getContext('2d');
                context.drawImage(image, 0, 0, image.width, image.height);
                var url = canvas.toDataURL('image/png'); //得到图片的base64编码数据

                var a = document.createElement('a'); // 生成一个a元素
                var event = new MouseEvent('click'); // 创建一个单击事件
                a.download = name || 'photo'; // 设置图片名称
                a.href = url; // 将生成的URL设置为a.href属性
                a.dispatchEvent(event); // 触发a的单击事件
            };
            image.src = imgsrc;
        },
        // 设置为公开或不公开
        setPublicStatus(){
            
        }
    },
    components: {}
};
</script>
<style lang="scss" scoped="scoped">
.el-image-wrap {
    position: relative;
    color: #fff;
    .icons {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        font-size: 14px;
        background: rgba(0, 0, 0, 0.4);
        padding: 10px 6px;
        border-radius: 5px;
        i {
            margin: 0 8px;
        }
    }
    .set-public-status {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
</style>
