<template>
    <div class="base-info-wrap">
        <!--  -->
        <div class="head-info flex  flex-h-around">
            <div class="item" v-for="(item, index) in 5">
                <div>浏览总量</div>
                <div>1249</div>
            </div>
        </div>
        <!-- 基本信息 -->
        <div class="base-info">
            <div class="boldTitle flex flex-v-center margin-t-20">
                <span class="margin-r-10">基本信息</span>
                <i class="el-icon-edit primary-color"></i>
            </div>
            <div class="margin-t-20 flex">
                <el-image src="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg" fit="cover" class="el-image margin-r-20">
                    <div slot="error" class="image-slot"><i class="el-icon-picture-outline"></i></div>
                </el-image>
                <div class="flex-grow-9">
                    <div class="flex flex-h-between">
                        <div class="flex flex-column">
                            <div>
                                <span class="line-height-40 margin-r-20">滨河九粮液回厂游</span>
                                <el-tag type="success">已发布</el-tag>
                            </div>
                            <div>
                                <span class="line-height-30">介绍：</span>
                                <span class="line-height-30">暂无</span>
                            </div>
                        </div>
                        <div class="flex flex-v-center">
                            <span class="margin-r-10">手机预览</span>
                            <el-image src="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg" fit="cover" class="el-image code margin-r-20">
                                <div slot="error" class="image-slot"><i class="el-icon-picture-outline"></i></div>
                            </el-image>
                        </div>
                    </div>
                    <el-divider></el-divider>
                    <div class="line-height-30">
                        <div>
                            <span class="margin-r-20">活动时间</span>
                            <span>2020-09-08 08:00 ~ 2020-09-11 18:00</span>
                        </div>
                        <div>
                            <span class="margin-r-20">活动地点</span>
                            <span>湖北武汉</span>
                        </div>
                        <div>
                            <span class="margin-r-20">活动预算</span>
                            <span>￥10,000.00</span>
                        </div>
                        <div>
                            <span class="margin-r-20">实际支出</span>
                            <span>-</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 启动海报 -->
        <div>
            <div class="smallTitle margin-t-20 margin-b-20">启动海报</div>
            <div class="flex flex-v-end">
                <el-image src="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg" fit="cover" class="el-image posters  margin-r-20">
                    <div slot="error" class="image-slot"><i class="el-icon-picture-outline"></i></div>
                </el-image>
                <div class="flex">
                    <span class="margin-r-10">跳转地址</span>
                    <el-link type="primary" class="margin-r-10">https://www.reoyoo.com</el-link>
                    <!-- 复制文案 -->
                    <CopyInfo copyInfo="https://www.reoyoo.com"></CopyInfo>
                </div>
            </div>
        </div>
        <!-- Banner -->
        <div>
            <div class="smallTitle margin-t-20 margin-b-20">Banner</div>
            <div class="flex flex-wrap flex-h-around ">
                <div class="item flex flex-column " v-for="(item, index) in 5">
                    <div class="banner-name margin-b-10">轮播一</div>
                    <el-image src="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg" fit="cover" class="el-image banner  margin-r-20">
                        <div slot="error" class="image-slot"><i class="el-icon-picture-outline"></i></div>
                    </el-image>
                    <div class="flex flex-v-end   links flex-wrap">
                        <span class="margin-r-10 link-tip margin-t-10">跳转地址</span>
                        <el-link type="primary" class="margin-r-10 margin-t-10">https://www.reoyoo.com</el-link>
                        <CopyInfo copyInfo="https://www.reoyoo.com"></CopyInfo>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import CopyInfo from '@/common/CopyInfo'
export default {
    name: 'BaseInfo',
    data() {
        return {};
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        handleCopy(text, event) {
            clip(text, event);
        }
    },
    components: {
        CopyInfo
    }
};
</script>
<style lang="scss" scoped="scoped">
$imageWidth: 240px;

.base-info {
    .el-image {
        width: $imageWidth;
        height: $imageWidth;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        background-color: #f6f8fc;
        border-radius: 5px;
    }
    .code {
        width: 30px;
        height: 30px;
        border-radius: 0;
    }
    .des {
        flex-grow: 9;
    }
}
.posters {
    width: $imageWidth;
    height: auto;
}
.item {
    width: 19%;
    .banner-name {
        align-self: center;
    }
    .banner {
        width: 100%;
        height: auto;
    }
    .links {
        width: 100%;
        .link-tip {
            flex-shrink: 0;
        }
    }
}
</style>
