<template>
    <div class="edit-gategory">
        <transition name="edit">
            <div class="edit-content padding-20">
                <div class="boldTitle ">编辑分类</div>
                <div class="flex flex-h-between flex-v-center padding-10  margin-t-10">
                    <div>全部照片</div>
                    <el-button type="primary" size="small" @click="addGategory">
                        <i class="el-icon-plus el-icon--left"></i>
                        增加子分类
                    </el-button>
                </div>
                <div class="gategorys " v-if="gategorysList.length > 0">
                    <div class="flex flex-h-between margin-t-10" v-for="(item, index) in gategorysList" :key="item.id">
                           <el-input v-model="item.label" placeholder="请输入分类名称" class="margin-r-20" maxlength="12" show-word-limit></el-input> 
                        <div class="flex">
                            <el-button size="small" @click="pushGategoryTop(item, index)">置顶</el-button>
                            <el-button type="info" size="mini" @click="downGategory(item, index)">下移</el-button>
                            <el-button type="danger" size="mini" @click="delectGategory(item, index)">删除</el-button>
                        </div>
                    </div>
                </div>
                <div class="padding-10  margin-t-10">全部视频</div>
                <div class="flex flex-h-center margin-b-20 margin-t-30">
                    <el-button round @click="cancel">取消</el-button>
                    <el-button type="primary" round @click="save">保存</el-button>
                </div>
            </div>
        </transition>
    </div>
</template>
<script>
export default {
    name: 'EditCategory',
    data() {
        return {
            gategoryName: '分类1',
            gategorysList: [],
            rules: {
                name: [{ required: true, message: '请输入分类名称', trigger: 'blur' }, { min: 3, max: 12, message: '长度在 3 到 12 个字符', trigger: 'blur' }]
            }
        };
    },
    computed: {},
    props: {
        gategorysData: {
            type: Array,
            default: function() {
                return [];
            }
        }
    },
    computed: {},
    mounted() {},
    created() {
        this.filterGategory();
    },
    methods: {
        filterGategory() {
            this.gategorysList = this.gategorysData.filter((item, index, arr) => {
                return index < arr.length - 1;
            });
        },
        // 增加子分类
        addGategory() {
            this.gategorysList.push({
                label: '',
                id: new Date().getTime() + Math.random()
            });
        },
        // 置顶
        pushGategoryTop(item, index) {
            if (index === 0) {
                this.$message('已经在最顶了！');
            }
            let topGategory = this.gategorysList.splice(index, 1)[0];
            this.gategorysList.splice(0, 0, topGategory);
        },
        // 下移
        downGategory(item, index) {
            let list = this.gategorysList;
            if (index >= list.length - 1) {
                this.$message('已经是最底下了，不能再下移了');
                return;
            }
            this.gategorysList = this.swapArray(this.gategorysList, index, index + 1);
        },
        // 交互位置
        swapArray(arr, index1, index2) {
            arr[index1] = arr.splice(index2, 1, arr[index1])[0];
            return arr;
        },
        // 删除
        delectGategory(item, index) {
            this.$confirm('此操作将删除该标签, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            })
                .then(() => {
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                    this.gategorysList.splice(index, 1);
                })
                .catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
        },
        // 取消
        cancel() {
            this.$emit('close');
        },
        // 保存
        save() {
            this.$emit('close');
        }
    },
    watch: {
        // gategorysData: {
        //     handler(newVal, oldVal) {
        //         if(newVal.length>0){
        //             this.gategorysList = newVal;
        //         }
        //     },
        //     immediate: true
        // }
    },
    components: {}
};
</script>
<style lang="scss" scoped="scoped">
@import '@/styles/element-variables.scss';
.edit-gategory {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1002;
    background: rgba(0, 0, 0, 0.2);
    .edit-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 45%;
        min-width: 800px;
        border: 1px solid #dfe4ed;
        background: #fff;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        .gategorys {
            max-height: 280px;
            overflow-y: auto;
            background: #fff;
        }
    }
}
.border {
    border: 1px solid $--color-primary;
    border-radius: 5px;
}
</style>
