<template>
    <div class="activity-Gallery">
        <!-- 分类设置 -->
        <div class="boldTitle flex flex-v-center " style="width: 160px;" @click="editCategory">
            <span class="margin-r-10">分类设置</span>
            <i class="el-icon-edit primary-color"></i>
        </div>
        <div class="flex">
            <div class="margin-t-20 margin-r-30 ">
                <div class="flex flex-v-center margin-b-10" @click="toggleGallery">
                    <i class="el-icon-caret-bottom tip-color" v-if="isUnfoldGallery"></i>
                    <i class="el-icon-caret-right " v-else></i>
                    全部照片
                </div>
                <div v-if="isUnfoldGallery">
                    <div
                        class="gallery"
                        @drop="drop($event, index)"
                        @dragenter="dragenter($event, index)"
                        @dragover.prevent
                        :class="enterGalleryIndex == index ? 'enterGallery' : ''"
                        v-for="(item, index) in gategorys"
                        :key="index"
                    >
                        {{ item.name }}
                    </div>
                </div>
                <div class="margin-t-10 " style="margin-left: 14px;">全部视频</div>
            </div>
            <div class="flex-grow-9 border-1 radius-5 padding-20 margin-t-20">
                <!-- 状态筛选  未发布 已发布 -->
                <div class="margin-b-30">
                    <el-radio-group v-model="statusVal" @change="filterPics">
                        <el-radio-button label="1">已发布</el-radio-button>
                        <el-radio-button label="2">未发布</el-radio-button>
                    </el-radio-group>
                </div>
                <div class="flex">
                    <div class="item margin-r-20" draggable="true" @dragstart="dragstart($event, item)" @dragend="dragend" v-for="(item, index) in allPicsList" :key="index">
                        <GalleryImage :showSetPublic="true" :showDelect="true" :picInfo="item"></GalleryImage>
                    </div>
                </div>
            </div>
        </div>
        <!-- 编辑分类组件 -->
        <EditCategory v-if="isShowEditCategory" :gategorysData="gategorysData[0].children" @close="closeEdit"></EditCategory>
    </div>
</template>
<script>
import EditCategory from './EditCategory.vue';
import GalleryImage from '@/components/GalleryImage';
export default {
    name: 'ActivityGallery',
    data() {
        return {
            statusVal: 2,
            // 分类是否是展开的
            isUnfoldGallery: false,
            // 拖拽图片所到的分类
            enterGalleryIndex: -1,

            gategorys: [
                {
                    name: '分类1'
                },
                {
                    name: '分类2'
                },
                {
                    name: '分类3'
                }
            ],
            gategorysData: [
                {
                    label: '全部照片',
                    children: [
                        {
                            label: '未分类'
                        }
                    ]
                },
                {
                    label: '全部视频'
                }
            ],
            allPicsList: [
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    status: 1
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    status: 2
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    status: 1
                }
            ],
            isShowEditCategory: false,
            positionX: 0,
            positionY: 0
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        toggleGallery() {
            this.isUnfoldGallery = !this.isUnfoldGallery;
        },
        // 编辑分类
        editCategory() {
            this.isShowEditCategory = true;
        },
        closeEdit() {
            this.isShowEditCategory = false;
        },
        dragstart(event, item) {
            event.dataTransfer.setData('dragTarget', JSON.stringify(item));
        },
        dragenter(event, index) {
            this.enterGalleryIndex = index;
        },
        drop(event, index) {
            this.enterGalleryIndex = -1;
        },
        dragend(event) {
            event.dataTransfer.clearData();
        },
        // 根据发布状态筛选照片
        filterPics(e) {
            console.log(this.statusVal);
        }
    },
    components: { EditCategory, GalleryImage }
};
</script>
<style lang="scss" scoped="scoped">
@import '@/styles/element-variables.scss';
@import '@/styles/common.scss';
.gallery {
    padding: 15px;
    border: 1px dashed transparent;
    border-radius: 5px;
}
.enterGallery {
    border: 1px dashed $--color-primary;
}
.item {
    position: relative;
}
</style>
