<template>
    <div class="interaction">
        <div class="title boldTitle">互动记录</div>
        <div class="flex margin-t-20">
            <el-tree
                highlight-current
                default-expand-all
                class="flex-shrink-0 margin-r-30"
                style="width:100px;"
                :data="interactionDate"
                :props="defaultProps"
                @node-click="handleNodeClick"
            ></el-tree>
            <el-table :data="tableData" border stripe>
                <el-table-column prop="number" label="序号" fixed="left" width="50px"></el-table-column>
                <el-table-column prop="user" label="用户"></el-table-column>
                <el-table-column prop="IP" label="IP地址"></el-table-column>
                <el-table-column prop="messageTime" label="消息时间"></el-table-column>
                <el-table-column prop="message" label="消息内容"></el-table-column>
                <el-table-column prop="recodeTime" label="记录时间"></el-table-column>
                <el-table-column prop="handle" label="操作" fixed="right" width="80px">
                    <template slot-scope="scope">
                        <el-button type="danger" size="mini" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div class="pagination"><el-pagination layout="prev, pager, next" :page-size="10" :total="1000" @current-change="handleCurrentChange"></el-pagination></div>
    </div>
</template>
<script>
export default {
    name: 'Interaction',
    data() {
        return {
            interactionDate: [
                {
                    label: '全部',
                    children: [
                        {
                            label: '2020/9/8'
                        },
                        {
                            label: '2020/9/8'
                        },
                        {
                            label: '2020/9/8'
                        }
                    ]
                }
            ],
            defaultProps: {
                children: 'children',
                label: 'label'
            },
            tableData: [
                {
                    number: '123',
                    user: '王小虎',
                    IP: '172.8.9.1',
                    messageTime: '2016-05-02',
                    message: '这是消息内容',
                    recodeTime: '2016-05-02',
                    handle: '删除'
                },
                {
                    number: '1',
                    user: '王小虎',
                    IP: '172.8.9.1',
                    messageTime: '2016-05-02',
                    message: '这是消息内容',
                    recodeTime: '2016-05-02',
                    handle: '删除'
                },
                {
                    number: '1',
                    user: '王小虎',
                    IP: '172.8.9.1',
                    messageTime: '2016-05-02',
                    message: '这是消息内容',
                    recodeTime: '2016-05-02',
                    handle: '删除'
                },
                {
                    number: '1',
                    user: '王小虎',
                    IP: '172.8.9.1',
                    messageTime: '2016-05-02',
                    message: '这是消息内容',
                    recodeTime: '2016-05-02',
                    handle: '删除'
                }
            ]
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        handleNodeClick(data) {
            console.log(data);
        },
        handleDelete(index, row) {
            console.log(index, row);
        },
        handleCurrentChange(){
            
        }
    },
    components: {}
};
</script>
<style lang="scss" scoped="scoped">
.el-tree-node {
    padding: 6px 0;
}
.el-tree-node__content {
    padding-left: 0 !important;
}
</style>
