<template>
    <div class="more-setting">
        <div class="title boldTitle">更多设置</div>
        <!-- 上传设置 -->
        <div class="padding-20 border-1 radius-5 margin-t-20 flex flex-column">
            <div>上传设置</div>
            <div class="margin-l-20 margin-t-20 flex">
                <div class="margin-r-30">上传权限</div>
                <div>
                    <el-checkbox-group v-model="permissions" class="flex flex-column ">
                        <el-checkbox label="1" class="padding-tb-20">仅摄影师可上传</el-checkbox>
                        <el-checkbox label="2" class="padding-tb-20">所有人可上传</el-checkbox>
                        <el-checkbox label="3" class="padding-tb-20">输入密码可上传</el-checkbox>
                    </el-checkbox-group>
                </div>
            </div>
            <div class="margin-l-20 margin-t-20 flex">
                <div class="margin-r-30">上传审核</div>
                <div class="flex flex-v-center ">
                    <el-switch v-model="isOpenCheck" class="margin-r-20"></el-switch>
                    开启后，上传后需要审核才可显示
                </div>
            </div>
            <div class="self-center margin-t-30"><el-button type="primary">保存</el-button></div>
        </div>
        <!-- 摄影师权限 -->
        <div class="padding-20 border-1 radius-5 margin-t-20 flex flex-column">
            <div>摄影师权限</div>
            <div class="padding-20 margin-t-20 ">
                <el-table :data="tableData" border stripe>
                    <el-table-column prop="number" label="序号" fixed="left"></el-table-column>
                    <el-table-column prop="photographer" label="摄影师"></el-table-column>
                    <el-table-column prop="photosAmount" label="工作量">
                        <template slot-scope="scope">
                            已上传 {{ scope.row.photosAmount }} 张照片
                        </template>
                    </el-table-column>
                    <el-table-column prop="permission" label="权限">
                        <template slot-scope="scope">
                            <el-switch v-model="scope.row.permission" class="margin-r-20"></el-switch>
                            开启后，允许摄影师上传
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="self-center margin-t-30"><el-button type="primary">保存</el-button></div>
        </div>
        <!-- 版权设置 -->
        <div class="padding-20 border-1 radius-5 margin-t-20 flex flex-column">
            <div>版权设置</div>
            <div class=" margin-t-20">
                <div class="flex flex-v-center">
                    <span class="margin-r-30 lable-width">添加水印</span>
                    <el-switch v-model="isAddWatermark"></el-switch>
                </div>
                <div class="flex flex-v-center margin-t-20 ">
                    <span class="margin-r-30 lable-width">水印</span>
                    <el-select v-model="value" placeholder="选择水印文字" clearable>
                        <el-option v-for="item in watermarkNames" :key="item.value" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                </div>
                <div class="flex  margin-t-20 flex-h-between flex-v-start">
                    <div class="flex flex-v-start">
                        <span class="margin-r-30 lable-width flex-shrink-0 position-lable">选择水印位置</span>
                        <div class="positions">
                            <div :class="selectedIndex===index?'selected':''" v-for="(item,index) in positions" :key="item.position" @click="selectPosition(index)">
                                <span>{{item.position}}</span><i class="el-icon-check icon" v-if="selectedIndex===index"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flex image-wrap">
                        <el-image src="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg" fit="cover" class="el-image  ">
                            <div slot="error" class="image-slot"><i class="el-icon-picture-outline"></i></div>
                        </el-image>
                    </div>
                </div>
            </div>
            <div class="self-center margin-t-30"><el-button type="primary">保存</el-button></div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'MoreSetting',
    data() {
        return {
            permissions: [],
            isOpenCheck: false,
            tableData: [
                {
                    number: 1,
                    photographer: '王小虎',
                    photosAmount: 420,
                    permission: false
                },
                {
                    number: 2,
                    photographer: '王小虎',
                    photosAmount: 123,
                    permission: true
                },
                {
                    number: 3,
                    photographer: '王小虎',
                    photosAmount: 145,
                    permission: true
                }
            ],
            isAddWatermark: false,
            watermarkNames: [
                {
                    value: '1',
                    label: '洋河大曲'
                },
                {
                    value: '2',
                    label: '劲酒'
                },
            ],
            value:'',
            positions:[
                {
                    position:'左上'
                },
                {
                    position:'右上'
                },
                {
                    position:'居中'
                },
                {
                    position:'左下'
                },
                {
                    position:'右下'
                },
            ],
            selectedIndex:-1
        };
    },
    computed: {

    },
    mounted() {},
    created() {},
    methods: {
        selectPosition(index){
            this.selectedIndex=index
        }
    },
    components: {}
};
</script>
<style lang="scss" scoped="scoped">
    @import '@/styles/element-variables.scss' ;
    $btnPaddingtb:16px;
    .lable-width{
        width: 90px;
        text-align: right;
    }
    .position-lable{
        padding: $btnPaddingtb 0;
    }
    .positions{
        display: flex;
        flex-wrap: wrap;
        div{
            padding: $btnPaddingtb 40px;
            border: 1px solid #dfe4ed;
            border-radius: 5px;
            margin-right: 20px;
            margin-bottom: 20px;
            position: relative;
            
        }
        .selected{
            color: $--color-primary;
            border: 1px solid $--color-primary;
            .icon{
                position: absolute;
                right: 6px;
                top: 6px;
                color: $--color-primary;
            }
        }
    }
    .image-wrap{
        flex-grow: 2;
        display: flex;
        justify-content: center;
        .el-image{
            width: 220px;
            height: 220px;
        }
    }
    
</style>
