<template>
    <div class="process"><QuillEditor v-model="content" /></div>
</template>
<script>
import QuillEditor from '@/components/Editor/index.vue';
export default {
    name: 'Process',
    data() {
        return {
            content: ''
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {},
    components: { QuillEditor },
    beforeDestroy() {}
};
</script>
<style lang="scss" scoped="scoped"></style>
