<template>
    <div class="sign-in">
        <!-- 签到部分 -->
        <div class="flex flex-h-between flex-v-start">
            <div class="title boldTitle">签到表</div>
            <div class="flex flex-v-center">
                <span class="margin-r-10">签到码</span>
                <div class="code-wrap">
                    <el-tooltip class="item" v-model="showBigCode" effect="light" placement="bottom" visible-arrow="false">
                        <div slot="content">
                            <el-image src="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg" fit="cover" class="el-image big-code "></el-image>
                        </div>
                        <el-image src="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg" fit="cover" class="el-image code ">
                            <div slot="error" class="image-slot"><i class="el-icon-picture-outline"></i></div>
                        </el-image>
                    </el-tooltip>
                </div>
                <i class="el-icon-caret-top " v-if="showBigCode"></i>
                <i class="el-icon-caret-bottom " v-else></i>
            </div>
        </div>
        <div class="padding-20">
            <div class="margin-b-20">签到人数：29</div>
            <el-table :data="tableData" border stripe>
                <el-table-column prop="number" label="序号" fixed="left" ></el-table-column>
                <el-table-column prop="customer" label="客户"></el-table-column>
                <el-table-column prop="signTime" label="签到时间"></el-table-column>
            </el-table>
        </div>
    </div>
</template>
<script>
export default {
    name: 'SignIn',
    data() {
        return {
            showBigCode: false,
            tableData: [
                {
                    number: '123',
                    customer: '王小虎',
                    signTime: '2016-05-02'
                },
                {
                    number: '123',
                    customer: '王小虎',
                    signTime: '2016-05-02'
                },
                {
                    number: '123',
                    customer: '王小虎',
                    signTime: '2016-05-02'
                },
                {
                    number: '123',
                    customer: '王小虎',
                    signTime: '2016-05-02'
                }
            ]
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {},
    components: {}
};
</script>
<style lang="scss">
.code-wrap {
    position: relative;
}
.code {
    width: 30px;
    height: 30px;
    border-radius: 0;
}
.big-code {
    width: 100px;
    height: 100px;
}
</style>
