<template>
    <div class="wrap main-bg">
        <div v-if="showCurrentRouter">
            <div class="head-info flex flex-h-around flex-v-center flex-wrap">
                <div class="item flex flex-column flex-v-center flex-h-center " v-for="(item, index) in 3">
                    <div>5</div>
                    <div>今日打印</div>
                </div>
            </div>
            
            <!-- 表格部分 -->
            <div class="margin-t-20 border-1-top">
               <el-table :data="tableData" style="width: 100%">
                   <el-table-column prop="imagePath" label="照片">
                       <template slot-scope="scope">
                           <el-image :src="scope.row.imagePath" fit="cover" class="el-image" 
                           :preview-src-list="getPreviewList(scope.row.imagePath)">
                           >
                               <div slot="error" class="image-slot"><i class="el-icon-picture-outline"></i></div>
                           </el-image>
                       </template>
                   </el-table-column>
                   <el-table-column prop="orderTime" label="下单时间"></el-table-column>
                   <el-table-column prop="customerName" label="客户"></el-table-column>
                   <el-table-column prop="payAmount" label="支付金额"></el-table-column>
                   <el-table-column prop="payWay" label="支付方式"></el-table-column>
                   <el-table-column prop="payVoucher" label="支付凭证"></el-table-column>
                   <el-table-column prop="printEquip" label="打印设备"></el-table-column>
                   <el-table-column prop="printStatus" label="打印设备"></el-table-column>
               </el-table> 
            </div>

        </div>
        <router-view />
    </div>
</template>
<script>
export default {
    name: 'equipment',
    data() {
        return {
            tableData: [
                {
                    imagePath:'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    orderTime: '2020-06-17 09:55:06',
                    customerName: '陌陌卡',
                    payAmount: 1.00,
                    payWay: '点卡支付',
                    payVoucher:'202009110102938291',
                    printEquip: '1号机',
                    printStatus: '打印成功',
                }
            ]
        };
    },
    computed: {
        showCurrentRouter() {
            const route = this.$route;
            return route.path == '/print/record';
        }
    },
    mounted() {},
    created() {},
    methods: {
        // 查看大图
        getPreviewList(path){
            let list=[];
            list.push(path);
            return list
        },
    },
    components: {}
};
</script>
<style lang="scss" scoped="scoped">
.head-info {
    padding: 20px 0 0;
    i {
        font-size: 28px;
        margin-right: 60px;
    }
    .item {
        padding: 10px 80px;
        border-radius: 5px;
        font-size: 18px;
        margin-bottom: 20px;
    }
}
.el-image{
    width: 60px;
    height: 40px;
    border-radius: 2px;
}
</style>
