<template>
    <i class="el-icon-document-copy" :style="iconStyle" @click="handleCopy(copyInfo, $event)"></i>
</template>
<script>
import clip from '@/utils/clipboard'; 
export default {
    name: 'CopyInfo',
    data() {
        return {};
    },
    props: {
        iconStyle: {
            type: Object,
            default: function() {
                return {};
            }
        },
        copyInfo: {
            type: String,
            default: ''
        }
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        handleCopy(text, event) {
            clip(text, event);
            this.$emit('copySuccess');
        }
    },
    components: {}
};
</script>
