<template>
    <div class="base-info-wrap">
        <!--  -->
        <div class="head-info flex  flex-h-around">
            <div class="item" v-for="(item, index) in 4">
                <div>浏览总量</div>
                <div>1249</div>
            </div>
        </div>
        <!-- 基本信息 -->
        <div class="base-info">
            <div class="boldTitle flex flex-v-center margin-t-20">
                <span class="margin-r-10">基本信息</span>
                <i class="el-icon-edit primary-color"></i>
            </div>
            <div class="flex flex-column base-info-content">
                <div class="flex">
                    <span>活动名称</span>
                    <span>namenamenamename</span>
                </div>
                <div class="flex">
                    <span>活动时间</span>
                    <span>2020-09-08 08:00 ~ 2020-09-11 18:00</span>
                </div>
                <div class="flex">
                    <span>活动主页</span>
                    <span>https://www.reoyoo.com</span>
                    <i class="el-icon-document-copy primary-color copy"></i>
                </div>
                <div class="flex">
                    <span>是否发布</span>
                    <span>已发布</span>
                </div>
                <div class="flex">
                    <span>活动简介</span>
                    <div class="des">这是活动简介</div>
                </div>
            </div>
        </div>
        <div class="boldTitle flex flex-v-center margin-t-20">
            <span class="margin-r-10">活动封面</span>
        </div>
        <div class="image-box-wrap">
            <span class="margin-b-20">封面1</span>
            <div class="image-box border-1">
                <el-image src="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg" fit="contain" class=" ">
                    <div slot="error" class="image-slot"><i class="el-icon-picture-outline"></i></div>
                </el-image>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'BaseInfo',
    data() {
        return {};
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {},
    components: {}
};
</script>
<style lang="scss" scoped="scoped">
$imageWidth: 260px;
.head-info {
    background: #edf5ff;
    padding: 20px 0;
    .item {
        div {
            line-height: 30px;
            text-align: center;
        }
    }
}
.base-info {
    box-sizing: border-box;
    .base-info-content{
        width: 100%;
        box-sizing: border-box;
        padding: 20px 30px;
        .flex{
            width: 100%;
            padding-bottom: 20px;
            align-items: flex-start;
            span:first-child{
                padding-right: 20px;
                flex-shrink:0
            }
            .copy{
                padding-left: 10px;
            }
            .des{
                word-break:break-all;
                line-height: 18px;
            }
        }
    }
}
.image-box-wrap{
    display: flex;
    width: $imageWidth;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
}
.image-box{
    width: $imageWidth;
    height: $imageWidth;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    .el-image{
        width: 100%;
    }
}
</style>
