<template>
    <div class="join-Personnel">
        <!-- 排序 -->
        <div class="head-info flex  flex-h-around">
            <el-button plain v-for="(item, index) in allSortWays" :key="item.sortName" @click="sort(item)">
                {{ item.sortName }}
                <SortIcons :sortDirection="item.sortDirection"></SortIcons>
            </el-button>
        </div>
        <div>
            <el-table :data="tableData" style="width: 100%">
                <el-table-column prop="customerName" label="客户"></el-table-column>
                <el-table-column prop="joinTime" label="参与时间"></el-table-column>
                <el-table-column prop="shareAmount" label="转发数"></el-table-column>
                <el-table-column prop="helpAmount" label="助力数"></el-table-column>
                <el-table-column prop="rank" label="排行"></el-table-column>
                <el-table-column prop="checkStatus" label="已核销"></el-table-column>
                <el-table-column prop="checkPassword" label="核销口令"></el-table-column>
                <el-table-column prop="checkTime" label="核销口令"></el-table-column>
                <el-table-column prop="handle" label="操作">
                    <template slot-scope="scope">
                        <div :class="scope.row.handle === true ? 'primary-color' : ''">手工核销</div>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
</template>
<script>
import SortIcons from '@/common/SortIcons/index.vue';
export default {
    name: 'JoinPersonnel',
    data() {
        return {
            allSortWays: [
                {
                    sortName: '按参与时间排序',
                    sortDirection: 'up'
                },
                {
                    sortName: '按转发数排序',
                    sortDirection: 'up'
                },
                {
                    sortName: '按助力数排序',
                    sortDirection: 'up'
                },
                {
                    sortName: '按排行榜',
                    sortDirection: 'up'
                }
            ],
            tableData: [
                {
                    customerName: '王小虎',
                    joinTime: '2016-05-02',
                    shareAmount: 21,
                    helpAmount: 18,
                    rank: 7,
                    checkStatus: 'Y',
                    checkkPassword: 'QY7G8',
                    checTime: '2016-05-18',
                    handle: true
                },
                {
                    customerName: '王小虎',
                    joinTime: '2016-05-02',
                    shareAmount: 21,
                    helpAmount: 18,
                    rank: 7,
                    checkStatus: 'Y',
                    checkkPassword: 'QY7G8',
                    checTime: '2016-05-18',
                    handle: false
                },

            ]
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {},
    components: { SortIcons }
};
</script>
<style lang="scss" scoped="scoped">
.head-info {
    justify-content: flex-start;
    padding: 30px 20px;
    .el-button--medium {
        padding: 16px 20px;
        margin-right: 20px;
    }
}
</style>
