<template>
    <div class="flex flex-h-between flex-v-center">
        <div class="title boldTitle">
            <span>基本信息</span>
            <i class="el-icon-edit primary-color margin-l-10" v-if="isOnlyView" @clik="eidt"></i>
        </div>
        <div class="btns flex" v-if="!isOnlyView">
            <el-button class="margin-lr-10" @click="cancel">取消</el-button>
            <el-button class="margin-lr-10" type="primary" @click="save">保存</el-button>
        </div>
    </div>
</template>
<script>
export default {
    name: '',
    data() {
        return {};
    },
    props:{
        isOnlyView:{
            type:Boolean,
            default:false
        }
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        // 编辑
        eidt(){
            this.$emit('edit');
        },
        // 取消
        cancel() {
            this.$emit('cancel');
        },
        // 保存
        save() {
            this.$emit('save');
        }
    },
    components: {}
};
</script>
<style lang="scss" scoped="scoped"></style>
