<template>
    <div class="wrap main-bg">
        <div v-if="showCurrentRouter">
            <div class="flex flex-h-between padding-20 flex-v-center border-1-bottom">
                <el-input placeholder="请输入微信昵称/客户名称" prefix-icon="el-icon-search" v-model="searchVal" style="width: 420px;" class=""></el-input>
                <el-button class="margin-lr-10 " type="primary" @click="newAccount">+新建</el-button>
            </div>
            <!-- 表格部分 -->
            <div>
                <el-table :data="tableData" style="width: 100%">
                    <el-table-column prop="account" label="登录账号"></el-table-column>
                    <el-table-column prop="name" label="姓名"></el-table-column>
                    <el-table-column prop="role" label="角色"></el-table-column>
                    <el-table-column prop="status" label="状态"></el-table-column>
                    <el-table-column prop="createTime" label="创建时间"></el-table-column>
                    <el-table-column prop="lastTime" label="上一次登录时间"></el-table-column>
                    <el-table-column prop="lastIP" label="上一次登录ip"></el-table-column>

                    <el-table-column prop="handle" label="操作">
                        <template slot-scope="scope">
                            <div class="flex">
                                <div class="primary-color margin-r-20">编辑</div>
                                <div class="primary-color">重置密码</div>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <!-- 分页 -->
            <div class="pagination"><el-pagination layout="prev, pager, next" :page-size="10" :total="1000" @current-change="handleCurrentChange"></el-pagination></div>
        </div>
        <router-view />
    </div>
</template>
<script>
export default {
    name: 'userList',
    data() {
        return {
            searchVal: '',
            tableData: [
                {
                    account: '18998909558',
                    name: '陌陌卡',
                    role: '系统管理员',
                    status: '启用',
                    createTime: '2019/7/23 13:09',
                    lastTime: '2019/7/23 13:09',
                    lastIP: '134.19.98.01',
                    handle: ''
                }
            ]
        };
    },
    computed: {
        showCurrentRouter() {
            const route = this.$route;
            return route.path == '/system/userList';
        }
    },
    mounted() {},
    created() {},
    methods: {
        newAccount(){
            this.$router.push('/system/newUser');
        },
        handleCurrentChange() {
            
        }
    },
    components: {}
};
</script>
<style lang="scss" scoped="scoped">
</style>
