<template>
    <div class="wrap">
        <TopBtns @cancel="cancel" @save="saveData"></TopBtns>
        <!-- 表单 -->
        <div class="from-wrap padding-20">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <!-- 登录账号和密码 -->
                <el-row type="flex" justify="space-between">
                    <el-col :span="11">
                        <el-form-item label="登录账号" prop="account" required><el-input v-model="ruleForm.name" placeholder="请输入登录账号"></el-input></el-form-item>
                    </el-col>
                    <el-col :span="11"><el-form-item label="密码">系统自动生成，通过手机短信发送给用户</el-form-item></el-col>
                </el-row>
                <!-- 姓名和状态 -->
                <el-row type="flex" justify="space-between">
                    <el-col :span="11">
                        <el-form-item label="姓名" prop="name" required><el-input v-model="ruleForm.name" placeholder="请输入员工姓名"></el-input></el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="状态" prop="status" required>
                            <el-select v-model="ruleForm.status" placeholder="请选择">
                                <el-option label="状态1" value="status1"></el-option>
                                <el-option label="状态2" value="status2"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- 角色 -->
                <el-row type="flex" >
                    <el-col :span="11">
                        <el-form-item label="角色" prop="role" required>
                            <el-select v-model="ruleForm.role" placeholder="请选择账号角色">
                                <el-option label="角色1" value="role1"></el-option>
                                <el-option label="角色2" value="role2"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
</template>
<script>
    import TopBtns from '@/common/TopBtns/index.vue'
export default {
    name: '',
    data() {
        return {
            checked: false,
            ruleForm: {
                account: '',
                name: '',
                status: '',
                role:'',

            },
            rules: {
                account: [{ required: true, message: '请输入登录账号', trigger: 'blur' }],
                name: [{ required: true, message: '请输入员工姓名', trigger: 'blur' }],
                status: [{ required: true, message: '请选择状态', trigger: 'blur' }],
                role: [{ required: true, message: '请选择账号角色', trigger: 'blur' }],
            }
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        saveData() {
            
        },
        cancel(){
            
        }
    },
    components: {TopBtns}
};
</script>
<style lang="scss" scoped="scoped"></style>
