<template>
    <div class="right-menu">
        <el-dropdown class="right-menu-item hover-effect" trigger="click">
            <div class="avatar-wrapper">
                <span>欢迎您,{{ userName }}</span>
                <i class="el-icon-caret-bottom" />
            </div>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item @click.native="changePassword">修改密码</el-dropdown-item>
                <el-dropdown-item @click.native="logout">退出</el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
        <!-- 修改密码 -->
        <ChangePassword :dialogFormVisible="showDialogForm" @hideForm="hideForm"></ChangePassword>
    </div>
</template>
<script>
import { getUserName } from '@/utils/auth';
import ChangePassword from '../ChangePassword/index.vue';
export default {
    name: '',
    data() {
        return {
            showDialogForm: false
        };
    },
    computed: {
        userName() {
            return getUserName();
        }
    },
    mounted() {},
    created() {},
    methods: {
        // 修改密码
        changePassword() {
            this.showDialogForm = true;
        },
        hideForm() {
            this.showDialogForm = false;
        },
        // 退出登录
        async logout() {
            await this.$store.dispatch('user/logout');
            this.$router.push(`/login?redirect=${this.$route.fullPath}`);
        }
    },
    components: { ChangePassword }
};
</script>
<style lang="scss" scoped="scoped">
.right-menu {
    height: 100%;
    line-height: 50px;
    display: flex;
    padding-right: 26px;
    &:focus {
        outline: none;
    }
    .right-menu-item {
        display: inline-block;
        padding: 0 8px;
        height: 100%;
        font-size: 18px;
        color: #5a5e66;
        vertical-align: text-bottom;
        width: 100%;
        &.hover-effect {
            cursor: pointer;
            transition: background 0.3s;
            &:hover {
                background: rgba(0, 0, 0, 0.025);
            }
        }
    }
}
</style>
