<template>
    <div class="new-build primary-color" @click="newBuild" :style="styleObject">
        <i class="el-icon-plus"></i>
        <span>新建</span>
    </div>
</template>
<script>
export default {
    name: '',
    data() {
        return {};
    },
    props: {
        styleObject: {
            type: Object,
            default: function() {
                return {};
            }
        }
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        newBuild() {
            this.$emit('newBuild');
        }
    },
    components: {}
};
</script>
<style lang="scss" scoped="scoped">
@import '@/styles/element-variables.scss';
.new-build {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 1px solid $--color-primary;
    box-sizing: border-box;
    border-radius: 5px;
    width: 200px;
    height: 200px;
}
</style>
