<template>
    <div class="dashboard-container">
        <div class="custom-wrap main-bg">
            <!-- 标题 -->
            <div class="title boldTitle">客户接待</div>
            <!-- 客户数据 -->
            <div class="custom-data">
                <template v-for="(item, index) in 4">
                    <div class="item-data">
                        <div>今日</div>
                        <div>24</div>
                        <div>
                            比昨日
                            <span>+24</span>
                        </div>
                    </div>
                    <div class="line" v-if="index < 3"></div>
                </template>
            </div>
        </div>
        <div class="message-wrap main-bg">
            <el-row type="flex" class="message-top" justify="space-between">
                <el-badge :value="12" class="item"><div class="message-num">消息</div></el-badge>
                <i class="el-icon-refresh"></i>
            </el-row>
            <el-divider></el-divider>
            

            <div class="message-list">
                <template v-for="(item,index) in 4">
                    <el-row type="flex" class="message-item" justify="space-between" align="middle">
                        <el-row type="flex" class="avatar-wrap" justify="space-between">
                            <el-badge is-dot class="avatar"><el-avatar shape="circle" size="medium" :src="squareUrl"></el-avatar></el-badge>
                            <div class="status">
                                <span>照片上传审核</span>
                                <span>王辉最新上传了照片，等待您的审批</span>
                            </div>
                        </el-row>
                        <div class="time">48分钟前</div>
                    </el-row>
                    <el-divider v-if="index<3"></el-divider>
                </template>
            </div>
            
            <div class="message-more">
                查看更多
            </div>
        </div>
    </div>
</template>

<script>
// import { mapGetters } from 'vuex';
import {getHomeData} from '@/api/home'
export default {
    name: 'Dashboard',
    data() {
        return {
            squareUrl:''
        };
    },
    computed: {},
    created() {
        getHomeData().then((data)=>{
            console.log(data);
        })
    }
};
</script>
<style lang="scss" scoped="scoped">
.dashboard-container {
    .custom-wrap {
        .custom-data {
            display: flex;
            padding: 30px 10px;
            justify-content: space-around;
            align-items: center;
            position: relative;
            .item-data {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 30px;
                div {
                    padding: 8px;
                }
                span {
                    color: #ff3131;
                }
            }
            .line {
                position: relative;
                width: 1px;
                height: 100px;
                background: #eee;
            }
        }
    }
    .message-wrap {
        margin-top: 30px;
        .message-top {
            font-size: 18px;
            .message-num {
                padding: 0 10px;
            }
        }
        
        .message-list{
            .message-item {
                .avatar-wrap {
                    .avatar{
                        margin-right: 16px;
                    }
                }
                .status {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    line-height: 18px;
                }
            }
        }
        .message-more{
            margin-top: 30px;
            text-decoration: underline;
        }
    }
}
</style>
