<template>
    <!-- 修改密码 -->
    <el-dialog title="修改密码" :visible.sync="showDialogForm" center @close="cancel('passwordForm')">
        <el-form :model="passwordForm" :rules="rules" ref="passwordForm" status-icon>
            <!-- 旧密码 -->
            <el-form-item label="旧密码" prop="oldPassword" :label-width="formLabelWidth" required>
                <el-input type="password" v-model="passwordForm.oldPassword" autocomplete="off" placeholder="请输入旧密码" maxlength="12"></el-input>
            </el-form-item>
            <!-- 新密码 -->
            <el-form-item label="新密码" prop="newPassword" :label-width="formLabelWidth" required>
                <el-input type="password" v-model="passwordForm.newPassword" autocomplete="off" placeholder="请输入新密码" maxlength="12"></el-input>
            </el-form-item>
            <!-- 旧密码 -->
            <el-form-item label="确认密码" prop="againPassword" :label-width="formLabelWidth" required>
                <el-input type="password" v-model="passwordForm.againPassword" autocomplete="off" placeholder="请再次输入新密码" maxlength="12"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="cancel('passwordForm')">取 消</el-button>
            <el-button type="primary" @click="sure('passwordForm')">确 定</el-button>
        </div>
    </el-dialog>
</template>
<script>
export default {
    name: 'ChangePassword',
    data() {
        let validateOldPass = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('请输入密码'));
            } else {
                if (value.length < 6) {
                    callback(new Error('请至少输入6位密码'));
                } else {
                    callback();
                }
            }
        };
        let validateNewPass = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('请输入新密码'));
            } else {
                if (value.length < 6) {
                    callback(new Error('请至少输入6位密码'));
                } else {
                    callback();
                }
            }
        };
        let validateAgainPass = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('请再次输入新密码'));
            } else if (value !== this.passwordForm.newPassword) {
                callback(new Error('两次输入密码不一致!'));
            } else {
                callback();
            }
        };
       
        return {
            showDialogForm: false,
            formLabelWidth: '120px',
            passwordForm: {
                oldPassword: '',
                newPassword: '',
                againPassword: ''
            },
            rules: {
                oldPassword: [{ validator: validateOldPass, trigger: 'blur' }],
                newPassword: [{ validator: validateNewPass, trigger: 'blur' }],
                againPassword: [{ validator: validateAgainPass, trigger: 'blur' }]
            }
        };
    },
    props: {
        dialogFormVisible: {
            type: Boolean,
            default: false
        }
    },
    mounted() {},
    created() {},
    methods: {
        cancel(formName) {
            this.$refs[formName].resetFields();
            this.$emit('hideForm');
        },
        sure(formName) {
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.submitFrom(this.passwordForm);
                } else {
                    return false;
                }
            });
        },
        // 修改密码  
        submitFrom(data) {
            

        },
        // 修改成功之后给提示 然后关闭
        changePasswordSuccess(){
            this.$message({
                message: '修改密码成功',
                type: 'success'
            });
            this.$emit('hideForm');
        }
    },
    components: {},
    watch: {
        dialogFormVisible(val) {
            console.log(val);
            this.showDialogForm = val;
        }
    }
};
</script>
<style lang="scss" scoped="scoped">
.change-password {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
}
</style>
