<template>
    <div class="summary-wrap main-bg">
        <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="照片" name="PhotoTab"></el-tab-pane>
            <el-tab-pane label="视频" name="VideoTab"></el-tab-pane>
        </el-tabs>
        <div class="tab-contents">
            <component :is="activeName" />
        </div>
    </div>
</template>
<script>
    import PhotoTab from './components/PhotoTab.vue'
    import VideoTab from './components/VideoTab.vue'
export default {
    // name: 'summary',
    data() {
        return {
            activeName: 'PhotoTab'
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        handleClick(tab, event){
            this.activeName=tab.name
        }
    },
    components: {PhotoTab,VideoTab}
};
</script>
<style lang="scss" scoped="scoped"></style>
