<template>
    <div class="wrap">
        <!--  -->
        <TopBtns @cancel="cancel" @save="saveData"></TopBtns>
        <!-- 表单部分 -->
        <div class="from-wrap padding-20">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">
                <el-row>
                    <el-col :span="10">
                        <el-form-item label="设备名称" prop="equipName" required><el-input v-model="ruleForm.equipName"  placeholder="请输入设备名称" ></el-input></el-form-item>
                    </el-col>
                    <el-col :span="10">
                        <el-form-item label="设备位置" prop="equipPosition" required><el-input v-model="ruleForm.equipPosition"  placeholder="请输入设备位置" ></el-input></el-form-item>
                    </el-col>
                </el-row>
                <!-- 备注 -->
                <el-row>
                    <el-col :span="10">
                        <el-form-item label="备注">
                            <el-input type="textarea" :rows="4" v-model="ruleForm.note"  placeholder=""></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
    
            </el-form>
        </div>
    </div>
</template>
<script>
    import TopBtns from '@/common/TopBtns/index.vue'
export default {
    name: '',
    data() {
        return {
            ruleForm: {
                equipName: '',
                equipPosition: '',
                note:''
            },

            rules: {
                equipName: [{ required: true, message: '请输入设备名称', trigger: 'blur' }],
                equipPosition: [{ required: true, message: '请输入设备位置', trigger: 'blur' }],
            }
        };
    },
    props: {
        disabled:{
            type:Boolean,
            default:false
        },
        userInfo:{
            type:Object,
        }
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        saveData(){
            
        },
    },
    components: {TopBtns}
};
</script>
<style lang="scss" scoped="scoped"></style>
