<template>
    <div class="wrap main-bg" >
        <div v-if="showCurrentRouter">
            <div class="boldTitle ">设备概况</div>
            <div class="head-info flex flex-h-around flex-v-center flex-wrap">
                <div class="item flex flex-v-center" v-for="(item, index) in 3">
                    <i class="el-icon-printer primary-color "></i>
                    <div class="margin-r-20">
                        <div>5</div>
                        <div>设备总数</div>
                    </div>
                </div>
            </div>
            <div class="boldTitle padding-tb-20 border-1-bottom">设备列表</div>
            <!-- 表格部分 -->
            <el-table :data="tableData" style="width: 100%">
                <el-table-column prop="equipNo" label="设备编号"></el-table-column>
                <el-table-column prop="equipPosition" label="设备位置"></el-table-column>
                <el-table-column prop="equipStatus" label="设备状态">
                    <template slot-scope="scope">
                        <div >{{scope.row.equipmentStatus===1?'在线':'离线'}}</div>
                    </template>
                </el-table-column>
                <el-table-column prop="IP" label="IP地址"></el-table-column>
                <el-table-column prop="printStatus" label="打印状态">
                    <template slot-scope="scope">
                        <div >{{scope.row.printStatus===1?'已连接':'未连接'}}</div>
                    </template>
                </el-table-column>
                <el-table-column prop="printHost" label="打印主机"></el-table-column>
            
                <el-table-column prop="handle" label="操作">
                    <template slot-scope="scope">
                        <div class="primary-color">编辑</div>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <router-view />
    </div>
</template>
<script>
export default {
    name: 'equipment',
    data() {
        return {
            tableData: [
                {
                    equipNo: '1号机',
                    equipPosition: '正门',
                    // 1在线 2离线
                    equipStatus: 1,
                    IP: '192.168.3.15',
                    //1 已连接 2 未连接
                    printStatus: 1,
                    printHost: '1号机',
                    handle: ''
                }
            ]
        };
    },
    computed: {
        showCurrentRouter() {
            const route = this.$route;
            return route.path == '/system/equipment';
        }
    },
    mounted() {},
    created() {},
    methods: {},
    components: {}
};
</script>
<style lang="scss" scoped="scoped">
    .head-info{
        padding: 20px 0 0;
        i{
            font-size: 28px;
            margin-right: 60px;
        }
        .item{
            background: #fff;
            padding: 10px 30px;
            border-radius: 5px;
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
</style>
