<template>
    <div>
        <TopBtns :isOnlyView="disabled"></TopBtns>
        <!-- 表单部分 -->
        <div class="from-wrap padding-20">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">
                <!-- 活动名称 -->
                <el-row>
                    <el-col :span="10">
                        <el-form-item label="角色名称" prop="roleName" required>
                            <el-input v-model="ruleForm.roleName" :disabled="disabled" placeholder="请输入角色名称"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- 活动简介 -->
                <el-row>
                    <el-col :span="10">
                        <el-form-item label="描述">
                            <el-input type="textarea" :rows="4" v-model="ruleForm.desc" :disabled="disabled" placeholder="请输入角色描述，比如该角色的职能或者权限"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <!-- 角色权限 -->
                <el-row>
                    <el-col :span="10">
                        <el-form-item label="描述"><el-tree :data="data" show-checkbox @check-change="handleCheckChange"></el-tree></el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
</template>
<script>
import TopBtns from '@/common/TopBtns/index.vue';
export default {
    name: '',
    data() {
        return {
            ruleForm: {
                roleName: '',
                desc: ''
            },
            data: [
                {
                    label: '全部权限',
                    disabled: true,
                    children: [
                        {
                            label: '电脑端',
                            disabled: true,
                            children: [
                                {
                                    label: '电脑端-1',
                                    disabled: true
                                }
                            ]
                        },
                        {
                            label: '手机端',
                            disabled: true,
                            children: [
                                {
                                    label: '手机端-1',
                                    disabled: true
                                }
                            ]
                        }
                    ]
                }
            ],
            rules: {
                roleName: [{ required: true, message: '请输入活动名称', trigger: 'blur' }]
            }
        };
    },
    props: {
        disabled: {
            type: Boolean,
            default: false
        },
        userInfo: {
            type: Object
        }
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        submitData() {},
        handleCheckChange() {}
    },
    components: { TopBtns }
};
</script>
<style lang="scss" scoped="scoped"></style>
