<template>
    <div class="wrap main-bg  ">
        <div class="boldTitle">首页banner</div>
        <div class="flex flex-column flex-h-center flex-v-center">
            <div class="flex flex-wrap">
                <div class="item margin-b-20 margin-lr-20 flex flex-column flex-v-center" v-for="item in 5">
                    <UploadImage class="margin-b-20"></UploadImage>
                    <div>轮播1</div>
                </div>
            </div>
            <div class="flex flex-h-center  save-btn"><el-button class="" type="primary" @click="submitData">保存</el-button></div>
        </div>
    </div>
</template>
<script>
import UploadImage from '@/components/UploadImage/index.vue';
export default {
    name: '',
    data() {
        return {};
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {},
    components: { UploadImage }
};
</script>
<style lang="scss" scoped="scoped">
.save-btn{
    margin-top: 80px;
}
</style>
