<template>
    <div class="navbar">
        <div>
            <hamburger id="hamburger-container" :is-active="sidebar.opened" class="hamburger-container" @toggleClick="toggleSideBar" />
            
            <breadcrumb id="breadcrumb-container" class="breadcrumb-container" />
        </div>
        <!--  -->
        <div class="right-menu flex flex-center">
            <div class="icon-wrap">
                <i class="el-icon-message-solid"></i>
                <span class="message-num">15</span>
            </div>
            
            <UserSetting class="right-menu"></UserSetting>
        </div>

    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Breadcrumb from '@/components/Breadcrumb';
import Hamburger from '@/components/Hamburger';
import UserSetting from './UserSetting';


export default {
    components: {
        Breadcrumb,
        Hamburger,
        UserSetting

    },
    computed: {
        ...mapGetters(['sidebar'])
    },
    methods: {
        toggleSideBar() {
            this.$store.dispatch('app/toggleSideBar');
        },
        async logout() {
            await this.$store.dispatch('user/logout');
            this.$router.push(`/login?redirect=${this.$route.fullPath}`);
        }
    }
};
</script>

<style lang="scss" scoped>
.navbar {
    height: 50px;
    overflow: hidden;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hamburger-container {
        line-height: 46px;
        height: 100%;
        float: left;
        cursor: pointer;
        transition: background 0.3s;
        -webkit-tap-highlight-color: transparent;

        &:hover {
            background: rgba(0, 0, 0, 0.025);
        }
    }

    .breadcrumb-container {
        float: left;
    }
    
    .right-menu{
        .icon-wrap{
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background: rgba(245,108,108,0.3);
            margin-right: 40px;
            font-size: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            color: rgba(245,108,108,1);
            .message-num{
                position: absolute;
                right: 0;
                top: 0;
                font-size: 12px;
                line-height: 12px;
                padding: 3px;
                transform: translate(50%,-35%);
                color:#fff; 
                background:rgba(245,108,108,1);
                border-radius: 100%;
            }
        }

    }

}
</style>
