<template>
    <span>
        <i class="el-icon-sort-down" :class="{selected:sortDirection==='up'}"></i>
        <i class="el-icon-sort-up" :class="{selected:sortDirection==='down'}"></i>
    </span>
</template>
<script>
export default {
    name: 'SortIcons',
    data() {
        return {};
    },
    props:{
        sortDirection:{
            type:String,
            default:'up'
        }
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {},
    components: {}
};
</script>
<style lang="scss" scoped="scoped">
    
    .el-icon-sort-down{
        margin-right: -4px;
    }
    .el-icon-sort-up{
        margin-left: -4px;
    }
    .selected{
        color: #09c265;
    }
</style>
