<template>
    <div class="upload-image">
        <el-upload
            class="avatar-uploader"
            action=""
            accept="image/*"
            :multiple="false"
            :limit="1"
            :show-file-list="false"
            drag
            :on-success="handleAvatarSuccess"
            :before-upload="beforeAvatarUpload"
            :on-change="onUploadChange"
            :auto-upload="false"
        >
            <img v-if="imageUrl" :src="imageUrl" class="image" />
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
    </div>
</template>
<script>
export default {
    name: 'UploadImage',
    data() {
        return {
            imageUrl: ''
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        handleAvatarSuccess(res, file) {
            console.log(this.imageUrl);
        },
        beforeAvatarUpload(file) {
            const isIMAGE = file.type === 'image/jpeg' || file.raw.type === 'image/png' || file.raw.type === 'image/jpg';
            const isLt2M = file.size / 1024 / 1024 < 2;

            if (!isIMAGE) {
                this.$message.error('只能上传jpg/png/jpeg图片!');
                return false;
            }
            if (!isLt2M) {
                this.$message.error('上传头像图片大小不能超过 2MB!');
                return false;
            }
            return isJPG && isLt2M;
        },
        onUploadChange(file) {
            console.log(file);
            this.imageUrl = URL.createObjectURL(file.raw);
            console.log(this.imageUrl);
        }
    },
    components: {}
};
</script>
<style lang="scss" >
@import '@/styles/element-variables.scss';

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: $--color-primary;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}
.image {
    width: 178px;
    height: 178px;
    display: block;
}
.el-upload-dragger{
    width: 178px;
    height: 178px;
}

</style>
