<template>
    <div class="wrap">奖品管理(待定)</div>
</template>
<script>
export default {
    name: 'award',
    data() {
        return {};
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {},
    components: {}
};
</script>
<style lang="scss" scoped="scoped"></style>
