<template>
    <div class="wrap">
        <div class="main-bg" v-if="showCurrentRouter">
            <div class="title boldTitle">活动列表</div>
            <div class="activity-list-wrap">
                <div class="tabList">
                    <!-- <activity-tabs :tabList="tabList" @selectTab="tabChange"></activity-tabs> -->
                    <el-tabs v-model="activeName" @tab-click="handleClick">
                        <el-tab-pane :label="item.name" :name="item.name" v-for="(item, index) in tabList" :key="item.name"></el-tab-pane>
                    </el-tabs>
                    <el-input class="search-input" v-model="searchVal" placeholder="请输入活动名称" size="medium" clearable prefix-icon="el-icon-search"></el-input>
                </div>
                <div class="activity-contents">
                    <!-- 新建 -->
                    <NewBuild :styleObject="newBuildStyle" @newBuild="addNewActivity"></NewBuild>

                    <div class="image-item" v-for="(item, index) in imageList" :key="index" @click="viewDetail">
                        <el-image :src="item.path" fit="cover" class="el-image" @error="loadError(index)">
                            <div slot="error" class="image-slot"><i class="el-icon-picture-outline"></i></div>
                        </el-image>
                        <div class="activity-info ">
                            <div class="name">滨河九粮液回厂游</div>
                            <div class="flex flex-h-between flex-v-center ">
                                <div>1145人参与</div>
                                <div class="status"><el-tag type="info">未开始</el-tag></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="activity-wrap main-bg"><router-view /></div>
    </div>
</template>
<script>
import NewBuild from '@/common/NewBuild';
export default {
    name: '',
    data() {
        return {
            searchVal: '',
            activeName: '全部',
            newBuildStyle: {
                width: '320px',
                height: '180px',
                margin: '0 30px 20px 0'
            },
            tabList: [
                {
                    name: '全部'
                },
                {
                    name: '未开始'
                },
                {
                    name: '进行中'
                },
                {
                    name: '已结束'
                }
            ],
            imageList: [
                {
                    path: '',
                    loadErr: false
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    loadErr: false
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    loadErr: false
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    loadErr: false
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    loadErr: false
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    loadErr: false
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    loadErr: false
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    loadErr: false
                }
            ]
        };
    },
    computed: {
        showCurrentRouter() {
            const route = this.$route;
            return route.path == '/salesActivity/summary';
        }
    },
    mounted() {},
    created() {},
    methods: {
        tabChange(index) {},

        handleClick(tab, event) {
            this.activeName = tab.name;
        },
        addNewActivity() {
            this.$router.push('/salesActivity/new');
        },
        // 查看详情
        viewDetail() {
            this.$router.push('/salesActivity/detail');
        },
        loadError(errIndex) {
            this.imageList.forEach((item, index) => {
                if (errIndex == index) {
                    item.loadErr = true;
                }
            });
        }
    },
    components: { NewBuild }
};
</script>
<style lang="scss" scoped="scoped">
@import '@/styles/element-variables.scss';
$imageWidth: 320px;
$imageHeight: 180px;
.activity-list-wrap {
    display: flex;
    flex-direction: column;
    padding: 30px 0 0;
    .tabList {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search-input {
            width: 300px;
        }
    }
}
.activity-contents {
    padding: 40px 0 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    // .new-activity {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     font-size: 18px;
    //     width: $imageWidth;
    //     height: $imageHeight;
    //     border: 1px solid $--color-primary;
    //     box-sizing: border-box;
    //     margin-right: 30px;
    //     margin-bottom: 20px;
    //     border-radius: 5px;
    // }
    .image-item {
        position: relative;
        margin-right: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;

        .el-image {
            width: $imageWidth;
            height: $imageHeight;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 40px;
            border-radius: 10px;
            background-color: #f6f8fc;
            box-shadow: 2px 4px 10px #464141;
        }

        .activity-info {
            padding-top: 20px;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            max-width: $imageWidth;
            flex-wrap: wrap;
            flex-direction: column;
            .status {
                padding-right: 20px;
            }
        }
    }
}
</style>
