<template>
    <div class="wrap">
        <div class="main-bg">
            <TopBtns></TopBtns>
            <!-- 表单部分 -->
            <div class="from-wrap padding-20">
                <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">
                    <!-- 活动名称 -->
                    <el-form-item label="名称" prop="name" required>
                        <el-row type="flex" justify="space-between">
                            <el-col :span="20"><el-input v-model="ruleForm.name" placeholder="请输入活动名称"></el-input></el-col>
                            <el-checkbox v-model="checked">对外发布</el-checkbox>
                        </el-row>
                    </el-form-item>
                    <!-- 活动时间 -->
                    <el-row type="flex" justify="space-between">
                        <el-col :span="11">
                            <el-form-item label="活动时间起" required>
                                <el-form-item prop="startDate">
                                    <el-date-picker type="date" placeholder="请选择起始时间" v-model="ruleForm.startDate" style="width: 100%;"></el-date-picker>
                                </el-form-item>
                            </el-form-item>
                        </el-col>
                        <el-col :span="11">
                            <el-form-item label="活动时间止" required>
                                <el-form-item prop="endDate">
                                    <el-date-picker type="date" placeholder="请选择结束时间" v-model="ruleForm.endDate" style="width: 100%;"></el-date-picker>
                                </el-form-item>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <!-- 活动主页 -->
                    <el-form-item label="活动主页" prop="homePage" required>
                        <el-row>
                            <el-col><el-input v-model="ruleForm.homePage" placeholder="请输入活动名称"></el-input></el-col>
                        </el-row>
                    </el-form-item>
                    <!-- 活动简介 -->
                    <el-form-item label="活动简介"><el-input type="textarea" v-model="ruleForm.desc" placeholder="可输入备注说明"></el-input></el-form-item>
                    <!-- 活动封面 -->
                    <el-form-item label="活动封面">
                        <div class="images-wrap flex flex-v-end">
                            <UploadImage class="margin-t-30 margin-r-20"></UploadImage>
                            <div class="image-tip">支持jpg，小于2M</div>
                        </div>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</template>
<script>
import TopBtns from '@/common/TopBtns/index.vue';
import UploadImage from '@/components/UploadImage/index.vue';
export default {
    name: '',
    data() {
        return {
            checked: false,
            ruleForm: {
                name: '',
                startDate: '',
                endDate: '',
                homePage: '',
                desc: ''
            },
            rules: {
                name: [{ required: true, message: '请输入活动名称', trigger: 'blur' }, { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }],
                startDate: [{ type: 'date', required: true, message: '请选择日期', trigger: 'change' }],
                endDate: [{ type: 'date', required: true, message: '请选择日期', trigger: 'change' }],
                homePage: [{ required: true, message: '请输入跳转网页，https://', trigger: 'blur' }]
            }
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        cancel(formName) {
            this.$refs[formName].resetFields();
            this.ruleForm.desc = '';
        },
        sure(formName) {
            this.$refs[formName].validate(valid => {
                if (valid) {
                } else {
                    return false;
                }
            });
        }
    },
    components: {
        TopBtns,
        UploadImage
    }
};
</script>
<style lang="scss" scoped="scoped"></style>
