<template>
    <div class="wrap main-bg">
        <!-- 核销概况 -->
        <div class="title boldTitle">核销概况</div>
        <div class="head-info margin-t-20 margin-b-20">
            <div class="item">
                <div>今日核销</div>
                <div>78笔</div>
            </div>
            <div class="item">
                <div>累计核销</div>
                <div>78笔</div>
            </div>
        </div>
        <!-- 核销记录 -->
        <div class="title boldTitle">核销记录</div>
        <div class="flex flex-h-between flex-v-center recordFrom-wrap">
            <el-form :model="recordFrom" ref="recordFrom" label-width="100px" style="width: 100%;">
                <el-row type="flex">
                    <!-- 按时间段 -->
                    <el-col :span="8">
                        <el-form-item label="按时间段" prop="queryTime">
                            <el-date-picker type="date" placeholder="" v-model="recordFrom.queryTime" style="width: 100%;"></el-date-picker>
                        </el-form-item>
                    </el-col>
                    <!-- 活动名称 -->
                    <el-col :span="8">
                        <el-form-item label="按客户" prop="customerName"><el-input v-model="recordFrom.customerName" placeholder="请输入客户昵称"></el-input></el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <div class="flex">
                <el-button class="margin-lr-10" type="primary">查询</el-button>
                <el-button class="margin-lr-10">导出</el-button>
            </div>
        </div>
        <!-- 查询结果 -->
        <el-table :data="tableData" style="width: 100%">
            <el-table-column prop="checkTime" label="核销时间"></el-table-column>
            <el-table-column prop="customerName" label="客户"></el-table-column>
            <el-table-column prop="activityFrom" label="来源活动"></el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="pagination"><el-pagination layout="prev, pager, next" :page-size="10" :total="1000" @current-change="handleCurrentChange"></el-pagination></div>
    </div>
</template>
<script>
export default {
    name: 'record',
    data() {
        return {
            recordFrom: {
                queryTime: '',
                customerName: ''
            },
            tableData: [
                {
                    checkTime: '2016-05-02',
                    customerName: '王小虎',
                    activityFrom: '回厂游活动'
                }
            ]
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        handleCurrentChange() {}
    },
    components: {}
};
</script>
<style lang="scss" scoped="scoped">
.head-info {
    padding: 20px 30px;
    display: flex;
    justify-content: space-around;
    .item {
        display: flex;
        background: #fff;
        border-radius: 5px;
        div {
            padding: 20px 60px;
        }
    }
}
.recordFrom-wrap {
    .el-form-item {
        margin-bottom: 0;
    }
}

</style>
