<template>
    <div class="activity-detail">
        <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="基本信息" name="BaseInfo"></el-tab-pane>
            <el-tab-pane label="活动规则" name="ActivityRule"></el-tab-pane>
            <el-tab-pane label="参与人员" name="JoinPersonnel"></el-tab-pane>
        </el-tabs>
        <div class="tab-contents"><component :is="activeName" /></div>
    </div>
</template>
<script>
import BaseInfo from './components/BaseInfo.vue';
import ActivityRule from './components/ActivityRule.vue';
import JoinPersonnel from './components/JoinPersonnel.vue';

export default {
    name: 'AtivityDetail',
    data() {
        return {
            activeName: 'BaseInfo'
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        handleClick(tab, event) {
            this.activeName = tab.name;
        }
    },
    components: {
        BaseInfo,
        ActivityRule,
        JoinPersonnel,

    }
};
</script>
<style lang="scss" scoped="scoped"></style>
