<template>
    <div class="gallery-video">
        <div class="video-wrap">
            <VideoPlay :videoUrl="videoInfo.url" @hideVideoInfo="hideVideoInfo" @showVideoInfo="showVideoInfo"></VideoPlay>
            <!-- 删除 -->
            <div class="icons" @click="delectVideo" v-if="isShowVideoInfo"><i class="el-icon-delete"></i></div>
            <!-- 视频信息 -->
            <div class="video-info" v-if="isShowVideoInfo">
                <div>这是视频名称</div>
                <div>00:12</div>
            </div>
        </div>
        <!-- 图片信息 -->
        <div class="flex flex-column margin-t-10">
            <div class="flex flex-h-between flex-v-center">
                <div class="flex">
                    <div class="margin-r-10">by 范彬彬</div>
                    <span>2020.8.16 09.23</span>
                </div>
                <!-- 是否设置为不公开 -->
                <!-- <div class="set-public-status">设置为不公开</div> -->
                <el-button type="primary" plain>设置为不公开</el-button>
            </div>

            <div class="flex  margin-t-10">
                <div>
                    <i class="el-icon-view"></i>
                    132
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import VideoPlay from '@/components/VideoPlay';
export default {
    name: '',
    data() {
        return {
            isShowVideoInfo:true
            
        };
    },
    props: {
        videoInfo: {
            type: Object,
            require: true
        }
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        hideVideoInfo(){
            this.isShowVideoInfo=false
        },
        showVideoInfo(){
            this.isShowVideoInfo=true
        },
        //删除视频
        delectVideo() {
            console.log('删除视频')
            this.$emit('delectVideo')
        }
    },
    components: { VideoPlay }
};
</script>
<style lang="scss" scoped="scoped">
.gallery-video {
    width: 100%;
    .video-wrap {
        position: relative;
        width: 100%;
        min-height: 200px;
        color: #fff;
        .icons {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            font-size: 14px;
            background: rgba(0, 0, 0, 0.4);
            padding: 10px 6px;
            border-radius: 5px;
            z-index: 120;
            color: #fff;
            i {
                margin: 0 8px;
            }
        }
        .video-info {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 40px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
        }
    }
}
</style>
