<template>
    <div class="photo-tab-wrap">
        <!-- 筛选 -->
        <div>
            <el-select v-model="photographerValue" placeholder="所有摄影师" clearable class="margin-r-20">
                <el-option v-for="item in allphotographer" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select>
            <el-select v-model="photosVal" placeholder="所有照片" clearable>
                <el-option v-for="item in allPhotos" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select>
        </div>
        <!-- 排序 -->
        <div class="margin-t-20 padding-20 btn-groups ">
            <el-button plain v-for="(item, index) in allSortWays" :key="item.sortName" @click="sort(item)">
                {{ item.sortName }}
                <SortIcons :sortDirection="item.sortDirection"></SortIcons>
            </el-button>
        </div>
        <!-- 图片列表 -->
        <div class="galleryImage-list"><GalleryImage :picInfo="item" v-for="(item, index) in allPicsList" :key="index" class="margin-lr-10 margin-b-20"></GalleryImage></div>
        <!-- 分页 -->
        <div class="pagination">
            <el-pagination layout="prev, pager, next" :page-size="10" :total="1000" @current-change="handleCurrentChange"></el-pagination>
        </div>
    </div>
</template>
<script>
import SortIcons from '@/common/SortIcons/index.vue';
import GalleryImage from '@/components/GalleryImage';
export default {
    name: 'PhotoTab',
    data() {
        return {
            // 摄影师筛选
            allphotographer: [
                {
                    value: '1',
                    label: '张三'
                },
                {
                    value: '2',
                    label: '李四'
                }
            ],
            photographerValue: '',
            // 照片发布状态筛选
            allPhotos: [
                {
                    value: '1',
                    label: '已公开'
                },
                {
                    value: '2',
                    label: '未公开'
                }
            ],
            photosVal: '',
            allSortWays: [
                {
                    sortName: '按上传时间排序',
                    sortDirection: 'up'
                },
                {
                    sortName: '按查看量排序',
                    sortDirection: 'up'
                },
                {
                    sortName: '按点赞量排序',
                    sortDirection: 'up'
                },
                {
                    sortName: '按下载量排序',
                    sortDirection: 'up'
                }
            ],
            allPicsList: [
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    status: 1
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    status: 2
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    status: 1
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    status: 1
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    status: 2
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    status: 1
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    status: 1
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    status: 2
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    status: 1
                },
                {
                    path: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    status: 1
                },
            ]
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        // 排序
        sort(item) {
            item.sortWay = item.sortWay === 'up' ? 'down' : 'up';
        },
        handleCurrentChange(val){
           console.log(val); 
        }
    },
    components: { SortIcons, GalleryImage }
};
</script>
<style lang="scss" scoped="scoped">
.btn-groups {
    background: #edf5ff;
    .el-button--medium {
        padding: 20px;
        margin-right: 20px;
    }
}
.galleryImage-list{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
</style>
