<template>
    <div class="video-tab-wrap">
        <div class="padding-20 flex">
            <GalleryVideo :videoInfo="item" v-for="(item, index) in allVideosList" :key="index" @delectVideo="delectVideo(index)" class="margin-lr-10 video"></GalleryVideo>
        </div>
        <!-- 分页 -->
        <div class="pagination"><el-pagination layout="prev, pager, next" :page-size="10" :total="1000" @current-change="handleCurrentChange"></el-pagination></div>
    </div>
</template>
<script>
import GalleryVideo from '@/components/GalleryVideo';
export default {
    name: 'VideoTab',
    data() {
        return {
            allVideosList: [
                {
                    url: 'https://media.w3.org/2010/05/sintel/trailer.mp4'
                }
            ]
        };
    },
    computed: {},
    mounted() {},
    created() {},
    methods: {
        delectVideo(index) {
            console.log(index);
            this.allVideosList.splice(0, index);
            console.log(this.allVideosList);
        },
        handleCurrentChange(val) {}
    },
    components: { GalleryVideo }
};
</script>
<style lang="scss" scoped="scoped">
.video {
    width: 400px;
}
</style>
